[2017-10-02 21:04] gkapfham opened #1 "Improve the Format of the Output of the Generated Groups"
Currently, the output of the group formation process displays the group number and then all of the student identifiers in a single list. However, this formatting of the output will not look very good if the groups are large and/or if the student identifies are long. The output should be formatted so that it supports vertical, instead of horizontal, scrolling of the listed groups.

[2017-10-02 21:08] gkapfham opened #2 "Verify the Command-Line Arguments"
Currently, the program only provides command-line argument verification as is provided by default with the `argparse` library. As such, it might be useful to add more command-line verification. For instance, it might be useful to check that the size for the number of members in a group is within a suitable bounds. As an example, it would not make sense to request a group size that is greater than

[2017-10-02 21:14] gkapfham opened #3 "Add Test Cases Using Pytest for All Existing and New Functions"
Currently, the functions inside of the `gatorgrouper.py` file do not have any test cases associated with them. A good first step would involve adding test cases for the functions that shuffle the list of the students and use the `itertools` package to generate the groups. In particular, it would be useful to have test cases to ensure that the generated groups are never larger than the specified si

[2017-10-02 21:17] gkapfham opened #4 "Comprehensive Diagnostic Output When Run in Verbose Mode"
Currently, the system only provides limited verbose mode output. However, there are several aspects of the system &mdash; especially those that result from the resolution of other issues &mdash; that would benefit from further debugging output. Finally, it would be useful if there was a way to control the level of debugging output beyond having a single flag that stipulates whether debugging outpu

[2017-10-02 21:20] gkapfham opened #5 "Test and Document the Intended Execution Environment"
Currently, the `README.md` file does not explain the details of the execution environment in which the program can execute. As such, it would be a good idea to test this program in multiple execution environments and then document what does and does not work correctly. For instance, it may be a good idea to use the [Tox Testing Tool](https://github.com/tox-dev/tox) to support the completion of thi

[2017-10-02 21:23] gkapfham opened #6 "Add Usage Examples to the Documentation"
Currently, the `README.md` file does not furnish any examples of how the program is run on the command-line. Additionally, the documentation does not explain the input or output of the program. Each of the key ways in which the program can be executed must be documented in the `README.md` file so that people can clearly understand all of the features that the tool provides. In particular, this iss

[2017-10-02 21:25] gkapfham opened #7 "Refactor the Source Code by Moving Functions to New Files"
Currently, the functions for shuffling a list of students and grouping the students are in the same file as the one that provides the main user interface. Instead, it would be better if these functions are moved into separate files. Going forward, this will be particularly useful since we may want to add new mechanisms for shuffling the list of students or grouping the students. Finally, it is wor

[2017-10-02 21:31] gkapfham opened #8 "Calculate and Report the Coverage of the Test Suite"
Currently, there is no test suite for this program. However Issue #3 requests the creation of a test suite. Once this test suite is created, it would be a good idea to ensure that the tests have good coverage. It would be a good idea to look into a package like [pytest-coverage](http://pytest-cov.readthedocs.io/en/latest/) to complete this tasks. Would this [tutorial](http://www.robinandeer.com/bl

[2017-10-02 21:34] gkapfham opened #9 "Add Documentation to Show How to Run the Test Suite"
Currently, there is no test suite for this program! However, Issue #3 requests the addition of a test suite. Moreover, Issue #8 suggests that it would be a good idea to report the coverage of the test suite. It would also be great if the `README.md` file contains documentation about how to run the test suite at the command line.

[2017-10-02 21:36] gkapfham opened #10 "Perform Linting and Improve the Program's Source Code"
Currently, parts of the program may not fully adhere to the standards set by PEP8. It would be great if the source code was input into a linting tool and all of the offending lines of code were improved. If possible, there should be a program that can automatically perform linting and display the problems to a developer. Finally, it might be a good idea to integrate linting with [pytest](https://g

[2017-10-02 21:40] gkapfham opened #11 "Integrate Travis CI Using the Free Version Available for Open-Source Projects"
After a test suite exists and linting is fully integrated, in fulfilment of Issue #3 and Issue #9 and Issue #10, the entire system should be integrated with Travis CI, which is freely available to open-source projects. This will ensure that it is possible to run the test suite and the linting tools whenever code is committed.

[2017-10-02 21:42] gkapfham opened #12 "Support Marking Students as Absent So As to Avoid Group Assignment"
Currently, the program assumes that all students will be available for every possible group project. However, if a student has been temporarily excused from the course and/or is away from campus, then it would be ideal to exclude that student from the automatically generated groups. This will ensure that the students are not assigned to teams with which they will never be able to contribute.

[2017-10-02 21:47] gkapfham opened #13 "Categorize Students and then Group Students According to Categories"
Currently, the program can only assign students to a group based on a random number generator. However, it would also be useful to assign students to a group while taking into account a student's membership in a specified category. Once these categories have been provided by input, it would be possible to then automatically assign students to groups while ensuring that, whenever possible, students

[2017-10-02 21:51] gkapfham opened #14 "Specify Skill Levels for Categories and then Customize Group Assignment"
As mentioned in Issue #13, the current algorithm for assigning the groups only involves random number generation. While it might be useful to assign students to groups based on categories, it could also be useful to assign "skill levels" for the different categories. This might allow the tool to better follow some of the [best practices](http://www4.ncsu.edu/unity/lockers/users/f/felder/public/Pap

[2017-10-02 21:56] gkapfham opened #15 "Support Running the Test Suite in a Parallel Manner"
While the program currently does not have a test suite, Issue #3 requests one. However, it is possible that this test suite will be larger and more costly to run as features are added to the system. As such, it may be a good idea to investigate the use of [xdist](https://pypi.python.org/pypi/pytest-xdist) for running the test suite in parallel. If this improves the performance of testing, then thi

[2017-10-02 22:10] gkapfham opened #16 "What is the "Best" Way to Automatically Assign Students to Groups?"
All of Issues #1 through #15 assume that there is a "best" was to automatically assign students to groups. However, it is worth discussing what this "best" way might look like? How can we automatically assign students to groups so as to ensure that they work [effectively as teams](http://www4.ncsu.edu/unity/lockers/users/f/felder/public/Papers/Oakley-paper(JSCL).pdf)?

[2017-10-03 19:54] eltmanm commented on #8
Andre Gets 8

[2017-10-03 20:01] mendezjw commented on #12
Tasks:
- Ask the user for input of who is absent
- Assign variables to each member
- Remove absent members and print out list
- Testing the function after it is implemented using test suites

[2017-10-03 20:13] eltmanm commented on #14
The Mikes will be parsing together data on the collection method and putting that data into a file for the program to read.

[2017-10-03 20:21] lylet-AC commented on #10
**Linting:** any tool that flags suspicious usage in software written in any computer language.

**flake8** is a tool that automatically collects "lint" when you run pytest with the `--flake8` tag in the command line.  Ex.) `pytest tests --flake8`

**Goal:** Integrate flake8 into the testsuite so running the testsuite will flag PEP8 violations.

[2017-10-03 20:22] bristola commented on #10
We will use the pytest-flake8 library.  It may be possible to just directly use the python files that the github repository supplies, and then use the classes and methods in that python file in the test suite implementation.
https://github.com/tholo/pytest-flake8

[2017-10-03 20:22] shafferz commented on #4
Going to investigate: "...the use of a logging framework for the Python 3 programming language," and also going to brush up on Python in general.

[2017-10-03 20:23] mendezjw commented on #5
Tasks
- Use Tox Testing Tool to test code in multiple execution environments
- Document outcomes from testing in multiple environments and the environments that were used.

[2017-10-03 20:24] shafferz commented on #2
Going to investigate the ways a Python program can read command-line arguments, and will investigate ways to set boundaries for them as well.

[2017-10-03 20:55] ZachAndrews98 commented on #7
Merged into master working refactor. Kept open for any comments on refactoring.

[2017-10-04 13:02] delgrecoj commented on #13
We'll assume that the input is in CSV format, with an identifier for the student, followed by a series of boolean values (zeros or ones) representing membership in different groups, so each record in that file would look like `delgrecoj,0,1,0,1,1`.

We can then break the task into individual concerns:
- parsing the CSV file into some useful format (ideally something like a HashMap, that would reta

[2017-10-04 13:06] delgrecoj commented on #13
Another possible approach might be a sudoku solver approach - this worked at my internship to predict which elements of two sets were not in both, to some degree of success.  Given the multiple categories issue it would be harder to implement, but certainly seems along the same lines -- we don't want multiple people in the same category in the same group, just as in sudoku you don't want multiples

[2017-10-04 13:17] delgrecoj commented on #13
I've gone and created a [branch](https://github.com/gkapfham/gatorgrouper/tree/feature/i-13-categories) for us to work with.

@sporrera, would you mind enhancing the program to handle CSV parsing?  It looks like a list of [dictionaries](https://docs.python.org/3/library/stdtypes.html#dict) would be a good choice of output.

@ZachAndrews98, would you mind thinking about some way to "score" groups,

[2017-10-04 13:51] sporrera commented on #13
Yes- I can begin to work on that.

[2017-10-04 17:12] castellanosr commented on #4
I am also looking into the use of a logging framework for the Python 3 programming language as well as various debugging methods so that we will be better able to chose a tactic/path to follow.

[2017-10-04 17:16] castellanosr commented on #2
Currently investigating the argparse library so that we will know what it is lacking and, therefore what we can add in order to improve the command-line verification. I am also looking at how to set bounds.

[2017-10-04 17:43] sutterj commented on #1
If we are going to use categories to sort the teams, would these need to be listed and if so, how should they be displayed?

[2017-10-04 17:43] dillam commented on #14
I made a google form to determine the skill level of the students. [This](https://goo.gl/forms/DuNj7ZrjJXcJO3wL2) is the link for the form.

[2017-10-04 17:45] castellanosr commented on #2
This is slightly ambiguous because there in not much instruction on what checks are necessary. We should check to make sure the group size does not exceed the number of the people in our class and does not approach it. However, what else do we need? This is something we should ask the customers about so that we ensure the product fulfils their desires.

[2017-10-04 17:47] sutterj commented on #6
What all are we anticipating as input?  The input and output is totally dependent on how the system functions.  Without knowing eveything that the user could do with the program, there is no way to document the input and output and commands.

[2017-10-04 17:47] lylet-AC commented on #10
How to test our test cases: run a faulty code that will not pass PEP8 standards, then double check with code that will pass PEP8 standards.

[2017-10-04 17:49] burrowss commented on #15
Can test to see if its an improvement by timing the test cases without xdist, and then after implementation of it. If it improves, then it can be added to the documentation/standards.

[2017-10-04 17:50] Andre-Bryan commented on #14
https://pypi.python.org/pypi/pgsheets/0.0.1 pgsheets documentation

[2017-10-04 17:50] castellanosr commented on #4
This is ambiguous because we do not know how much output is desired, how many levels of output is desired, and how the output should be produced (file vs terminal window).

[2017-10-04 17:51] dillam commented on #14
Another library we can look at [here](https://docs.python.org/2/library/csv.html)

[2017-10-04 17:51] eltmanm commented on #14
And i have a spreadsheet designed to output the results from the survey. this is it: https://docs.google.com/a/allegheny.edu/spreadsheets/d/1UkQDA5v0DWPxoKPUqOVQir6cbzX89o64EVUxMgbEyec/edit?usp=sharing

[2017-10-04 17:52] TravisThomasAC commented on #12
As of now the requirements are not unambiguous. We need to know what input will be asked from the user and how user input will be accepted in order to complete the task of removing missing students from the potential groups.

[2017-10-04 17:56] castellanosr commented on #2
Upon speaking with the customer, we have learned that the two afore mentioned checks (group not exceeding class number or getting too close) are the only necessary checks unless other teams implement more features that need checking (referencing a google sheet, for example).

[2017-10-04 17:56] millinj2 commented on #12
The requirements are not complete. We need to know the input and how that input will be used. We also should clarify if the user would like to know if the student was excused from the assignment or if they were unexcused.

[2017-10-04 17:57] burrowss commented on #15
There are multiple different usages of xdist, so we will test each case to try and find the most efficient one to use

[2017-10-04 17:58] milleriAC commented on #2
Here is a good website to have a better understanding of how argparse works in python:
 [https://docs.python.org/3.3/library/argparse.html]({Python Documentation for Argparse)

[2017-10-04 17:58] castellanosr commented on #4
Check with developers to see how extensive they want logging to be.

[2017-10-04 18:00] castellanosr commented on #4
Requirements are not complete. Who/where should putting the teams in an actual file occur?

[2017-10-04 18:01] mendezjw commented on #5
As of the current moment, the program is testable in multiple environments, however it would not be beneficial with the software being in such an alpha stage and how drastically different it could become in the coming weeks.

[2017-10-04 18:02] castellanosr commented on #4
The customer mentioned that this is a less relevant" task. Meaning, there is not a specific level of outputs desired.

[2017-10-04 18:07] castellanosr commented on #2
Would we be able to simply use if statements for our checks or do we need to do a more complicated argparsing version (look at past two labs)?

[2017-10-04 18:19] eltmanm commented on #14
#16 please take a look at the above files and let us know what needs added, removed, reformatted, etc.

[2017-10-04 18:19] karolvargas commented on #15
It seems as though Python3 does not support -xdist so we will continue to look for more methods to run      -xdist

[2017-10-04 21:16] gkapfham opened #20 "Repository Contains Derived Files"
The repository now contains a `gatorgrouper/__pycache__/` directory. If I understand correctly, this is a derived directory that does not need to be under version control. Should this directory be deleted?

[2017-10-04 21:21] gkapfham opened #21 "Repository Transferred to new Organization. Is it Working Correctly? New Members?"
As requested by @yeeunmariakim, I have transfered the `gkapfham/gatorgrouper` repository to the GatorGrouper organization. Can a project manager confirm that this is working correctly? Additionally, we will now need to ensure that all of the members of the previous repository can access the source code for this repository. That is, we need to make sure that everyone can create branches and push to

[2017-10-04 21:28] sutterj commented on #20
My request was not yet merged into master.  The cache files were apart of merge #17 and #18.  They are also included in my commit, but it has not yet been merged.

[2017-10-04 21:30] gkapfham opened #22 "Standard for Commit Messages?"
Currently, this project does not have a standard for commit messages. So, some commits start with a capital letter and others do not. I suggest that we following the [standard set by Tim Pope](http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html). That is, I judge that the messages should start with a capital letter and be short and to the point. If needed, there can be summary com

[2017-10-04 21:34] gkapfham opened #23 "Docstring Comments for Modules are Incorrect"
After the recent merge of the pull request, there are several new files in the repository. However, these files all have the same header comment at the top of the file. Each of these comments should be customized to the specific file and its purpose.

[2017-10-04 21:35] delgrecoj commented on #20
This has been done (and added to a `.gitignore` file) in our branch for issue #13, as of this morning... for what that's worth.  Gotcha is that you have to remove the directory and commit that first before gitignoring it.

[2017-10-04 21:55] eltmanm commented on #21
Cannot access any information other than the list of users on the new repository

[2017-10-04 22:17] delgrecoj commented on #22
Have known about his standard for several years but never use it... have always find that in practice the leading capitals get confusing, that 50 characters is too restrictive, and that it just looks weird.

I'm for allowing flexibility with the messages, just as long as they're *descriptive* and to the point.

![2017-10-04-180219_544x687_scrot](https://user-images.githubusercontent.com/21695244/3

[2017-10-04 23:32] yeeunmariakim commented on #22
@delgrecoj I appreciate your screenshot of the results of OBC’s “update” script. Personally, I think always committing with the same commit message is very efficient, and relieves some mental load associated with development. 😛

Jokes aside, I agree with @delgrecoj that we should not require students to comply to the Tim Pope standard. After learning about it in class, I tried to follow it in my o

[2017-10-05 00:13] sutterj commented on #22
I think that as long as the message gives at least a slight idea of the content of the commit then it would not necessarily need to adhere to any sort of standard.

[2017-10-05 01:00] yeeunmariakim commented on #22
@sutterj I would say "good" instead of "slight"--commit message should be descriptive enough to understand what content has been added.

[2017-10-05 01:02] yeeunmariakim commented on #21
@eltmanm the repository isn't changing--we are continuing development on this repository. Just the ownership of the repository has changed. The transfer included all of the GitHub issues, pull requests, and branches. Really, no one should see any major impacts other than non-project managers not being able to merge pull requests into master.

[2017-10-05 01:09] yeeunmariakim commented on #21
@gkapfham I have made all the project managers who have accepted the invitation to join the organization "Owners" of the GatorGrouper organization. @bonnettd and @dillam will be made owners as well when they join the organization. I have also configured the Settings of the gatorgrouper repository so that the `master` branch is protected. This means that pull requests reviews are required before me

[2017-10-05 02:29] eltmanm commented on #21
cannot see or access code, or clone repository from the new one

[2017-10-05 02:32] yeeunmariakim commented on #21
@eltmanm what URL are you using to reply to this issue?

[2017-10-05 02:33] yeeunmariakim commented on #21
@eltmanm you are a member of the GatorGrouper organization and have member-level access, from what I can see.

[2017-10-05 02:33] eltmanm commented on #21
shit nevermind I get it now.
'Organization' wasn't clicking til just now

[2017-10-05 02:34] eltmanm commented on #21
sorry

[2017-10-05 23:24] yeeunmariakim commented on #6
@sutterj issue #2 is dependent on the issue #12, issue #13, issue #14 as well. once they are finished with their implementations, they should let both @sutterj and me know what command line arguments they need

[2017-10-05 23:25] yeeunmariakim commented on #6
@sutterj we'll let you know the levels of diagnostic output flags that we end up implementing once we have completed issue #4

[2017-10-05 23:40] delgrecoj commented on #20
After some slight changes, the pull request received three approvals from project managers and was merged into master, so closing this issue.

[2017-10-05 23:40] #20 closed

[2017-10-05 23:46] delgrecoj commented on #6
@sutterj please see our issue #13 for what we're expecting as input, although note that #14 will most likely break our implementation, which was why our group wanted both of those issues.  Arguments used will be listed clearly in the code, once we finish the implementation.

[2017-10-06 00:45] shafferz commented on #4
@mendezjw, @delgrecoj, and @dillam: Can you guys check with your teams while you're working on issues #12, #13, and #14 to let us know what kinds of errors/bugs you'd be expecting to come up in a diagnostic output/debugger from the code that you are currently implementing. If I tagged the wrong team leaders for the aforementioned issues, please let me know!

[2017-10-06 15:37] delgrecoj commented on #23
@ZachAndrews98 fixed as of #27.

[2017-10-06 15:37] #23 closed

[2017-10-06 16:44] castellanosr commented on #2
Last night @milleriAC and I implemented a few checks. We added an if statement to check and see if the group size was at least half the class size and to make sure the class size was at least one. As it is currently written the code will check and if the check fails a print statement will be displayed stating "invalid arguments" and the program will quit. @gkapfham as the customer, is this what yo

[2017-10-06 17:02] mendezjw commented on #5
After consulting the customer, we came to a consensus that the requirements for this issue will also need to include the configuration of tox to successfully run the software in different execution environments. If the test fails in a specific environment, we will need to determine if the configuration of tox has caused the issue or if the issue was caused by another team and inform them that a fi

[2017-10-06 17:37] eltmanm commented on #14
This seems like a reasonable method to use so as to use constantly updated information. #12 could make use of an additional column in the spreadsheet so as to allow the instructor to mark a student absent as is, and the program would likely put this information in your chunk of the program.
https://www.twilio.com/blog/2017/02/an-easy-way-to-read-and-write-to-a-google-spreadsheet-in-python.html

[2017-10-07 19:15] bristola commented on #10
If you `pip install pytest-flake8`, you also install the flake8 api that can be used in any python file.  By using `from flake8.api import legacy as flake8` in a python file, you can use various classes and functions in the flake8 library including the `check_files(file_name)` function which will perform linting checks on the input file.  We could possibly use this to integrate linting in the test

[2017-10-10 19:37] yeeunmariakim commented on #2
@milleriAC @castellanosr how is making the revisions I suggested in the pull request going?

[2017-10-11 01:08] burrowss commented on #3
How is this issue coming along? Checking in since my group's issues are dependent on the test cases

[2017-10-11 01:50] bonnettd commented on #3
@burrowss Fall break has kind of halted our progress. However we do plan to meet as a team no later than Thursday to discuss what needs to be done and continue building our test suites. Does your group need a fully functional test suites program that tests the entire system, like a test_grouper.py program that includes all of the test suites. Or can you guys work with individual test cases for eac

[2017-10-11 02:09] burrowss commented on #3
We're working on #10 and #15 so they will eventually need a fully functioning but we can start by using individual cases. We're currently using lab 2 as a reference to figure out how we want to implement the stuff from our issues so getting don't feel rushed by us, just keep me updated on the progress of the test suite

[2017-10-11 05:24] yeeunmariakim commented on #4
@shafferz I have created a new pull request that would incorporate the change to a logging framework. In the implementation, the logging level is determined by a command-line argument. If "-d" or "--debug" is passed in, then the logging framework will display all of the strings passed into `logging.debug()` and logging methods of higher priority (which are all the rest since `logging.debug()` is o

[2017-10-11 17:47] castellanosr commented on #2
@yeeunmariakim I just made the requested revisions. Will you look over them again and let me know how it looks?

[2017-10-11 18:24] castellanosr commented on #2
The moved logic I moved is now incomplete. We need to read the list because it does not exist yet in the parse_gatorgrader_arguments.py.

[2017-10-11 20:02] sutterj commented on #6
I created a branch for this issue.  Now my group is just waiting for the inputs and outputs of the program to be decided.

[2017-10-11 23:50] shafferz commented on #2
Hey @castellanosr and @milleriAC, I just read the code on the Pull Request that you've put up. I think I have an idea that will successfully implement our parse_gatorgrouper_arguments.py successfully, utilizing the read_student_file.py to use the code that you've already written, and to fix the gatorgrouper.py to also successfully make the revisions that @yeeunmariakim requested. I also discussed

[2017-10-11 23:52] shafferz commented on #4
@yeeunmariakim The initial implementation looks good to me, as do the changes we made in person during our meetup today. Let me know if the other team leaders need us to implement the logging structure in their functions as well, which is something that I would happily do.

[2017-10-12 02:10] delgrecoj commented on #7
Initial refactoring completed.

[2017-10-12 02:10] #7 closed

[2017-10-12 02:11] dillam commented on #1
The output has been reformatted so that it is vertical instead of horizontal.

[2017-10-12 02:11] #1 closed

[2017-10-12 02:12] delgrecoj commented on #21
Everything is working as expected.

[2017-10-12 02:12] #21 closed

[2017-10-12 02:13] #22 closed

[2017-10-12 02:19] sutterj commented on #6
We will update the README to include the structure and description of the sorting algorithms in addition to explaining to the user how to use the program.  We will document the way in which we expect the user to use the program.

[2017-10-12 03:08] delgrecoj commented on #22
(closed by consensus of the project managers at the meeting this evening)

[2017-10-12 17:46] bristola commented on #10
http://flake8.pycqa.org/en/latest/user/python-api.html
Website for the flake8 api.

[2017-10-12 18:26] lylet-AC commented on #3
Hey, we're issue 10 which involves us writing a testcase specifically for flake8.  Let us know when you guys are ready to talk about integrating our two tasks together!

[2017-10-12 18:32] burrowss commented on #10
How is the linting coming along for the source code? Are you able to go through it yet and make sure everything is correct? @bristola

[2017-10-12 18:50] bristola commented on #10
@burrowss Yes, Tyler and I just worked on our task in Alden for a while and got things mostly working on our branch.  We added our own file on our branch called *linting.py*, and if you run `pytest linting.py` it will run a test case to check PEP8 standards.  It will print out all cases found in all python files in the *gatorgrouper* directory where the files do not adhere to PEP8 standards.  We a

[2017-10-13 00:31] TravisThomasAC commented on #12
The first implementation for this issue is complete. Needs to merged with master to ensure correctness and to see if any changes need to be made.

[2017-10-13 00:38] castellanosr commented on #2
@shafferz and I worked for over an hour trying to move the verification logic into the parse_gatorgrader_arguments.py but it did not work because of the order in which information is gained. The logic must stay where @milleriAC and I put it.

[2017-10-13 00:52] dillam commented on #14
At the group leader meeting we decided that it would be better if the questions we asked in the google form were yes or no rather than a scale from 1 to 5. I just made the changes to the form.

[2017-10-13 00:55] dillam commented on #14
@eltmanm can you commit the work you have done so far to a branch off of the branch for this issue?

[2017-10-13 17:50] eltmanm commented on #14
so i tried to work around the installation errors to download a package we need to read from sheets to the console (gspread, as i've been able to find alternatives), and it gave me the same errors as before, as well as a confirmation that the issue is lack of admin access for our python library storage. there is a copy of the text from the terminal in the latest push, as ERRORS.txt I will discuss

[2017-10-13 17:55] eltmanm commented on #14
also, i've fixed the sheets/form to pull from the new format when taking responses

[2017-10-13 18:37] eltmanm commented on #14
I HAVE THE PACKAGES INSTALLED NOW< WILL BE WORKING ON CSV SAVING, AND WHAT NOT< THEN WILL NEED TO COORDINATE WITH OTHERS TO ASSIST IN HOW TO WORK WITH ANY OTHER FILE OPERATIONS WE CAN WORK WITH

[2017-10-13 18:41] castellanosr opened #31 "student_identifers to student_identifiers - refactoring/bettering code"
The variable student_identifers is spelled wrong - it is missing an i. I spoke to @gkapfham about this and he instructed me to make a new issue and a branch to fix it.

[2017-10-13 18:43] eltmanm commented on #14
And now the latest commit is the progress i've got thus far. Will likely come back to it later tonight

[2017-10-13 18:55] sutterj commented on #6
These are the items that should be included as documentation in the README.  The items with ?'s beside them are things that we have to decide if they should be included as documentation.  If you could list in this issue some details about the work you have done, my team can then begin updating the README with all the necessary information.

Command Line Arguments #2
Document the arguments that the

[2017-10-13 19:02] castellanosr commented on #31
I just finished adding the missing "i"s. I believe that this will make the code easier to read and especially easier to edit. I also noticed that "gatorgrader" is written in a few places instead of "gatorgrouper" but I do believe that someone else already pointed this out. Is this issue being addressed?

[2017-10-13 19:21] bristola commented on #10
How do we plan on implementing this linting test into master? After running our linting tests, there are a lot of problems in the code where it does not adhere to PEP8.  Will we fix all the PEP8 problems pointed out by our test case after the final implementation of the code is pushed to master?

[2017-10-13 22:15] Andre-Bryan commented on #8
Coveralls is hooked up to the GatorGrouper repo
and i have pytest-cov ready to test and report the test suites

[2017-10-14 01:27] yeeunmariakim commented on #6
Here is some usage documentation related to Issue #2:

To specify the size of groups, use the flag `--group-size`. For instance, `python3 gatorgrouper.py --group-size 3` indicates that groups should each contain 3 members. The group size should be greater than 1 and equal to or less than half the total number of students.

[2017-10-14 01:34] yeeunmariakim commented on #6
Here is some usage documentation related to issue #4:

To see a detailed general output from the program to monitor its progress, use the flags `-v` or `--verbose`.
Example: `$ python gatorgrouper.py --verbose`

To see a detailed technical output from the program to diagnose issues, use the flag `-d` or `--debug`.
Example: `$ python gatorgrouper.py --debug`

If none of the `-v`, `--verbose`, `-d`,

[2017-10-14 01:38] yeeunmariakim commented on #6
Here is usage documentation related to issue #13:

To group students randomly, use the `--random` flag.
Example:  `$ python3 gatorgrouper.py --random`

To group students using the sudoku method, use the `--sudoku` flag.
Example: `$ python3 gatorgrouper.py --sudoku`

To group students using the round-robin method, use the `--round-robin` flag.
Example: `$ python3 gatorgrouper.py --round-robin`

If

[2017-10-14 01:43] yeeunmariakim commented on #6
Here is usage documentation related to issue #12:

To indicate absent students, use the `--absentees` flag followed by the list of absent students. This flag can be used in the following ways:
`$ python3 gatorgrouper.py --absentees yeeunmariakim, delgrecoj`
`$ python3 gatorgrouper.py --absentees 'yeeunmariakim', 'delgrecoj'`
`$ python3 gatorgrouper.py --absentees "yeeunmariakim", "delgrecoj"`
`$ p

[2017-10-14 01:49] yeeunmariakim commented on #6
Here is usage documentation about a command line argument that already existed:

To name the file in which the list of students to group is contained, use the `--students-file` flag.
Example: `$ python3 gatorgrouper.py --students-file "students_list.txt"` or `$ python3 gatorgrouper.py --students-file students_list.txt`

If a file name is not specified, then the file name is assumed to be "students

[2017-10-14 17:12] yeeunmariakim commented on #2
@shafferz @castellanosr @milleriAC I moved the logic to the `parse_gatorgrouper_arguments.py` file (formerly named `parse_gatorgrader_arguments.py` without obstacle. That move has been merged into the issue 2 feature branch, which is currently under review in a pull request to be merged into master.

[2017-10-14 17:49] sporrera commented on #13
`""" GatorGrouper randomly assigns a list of students to groups """
from random import shuffle
import argparse
import itertools
import sys
import xlrd

def read_student_file ():
	""" Reads the student identifies from the specific file,
	    returning the identifiers in a list """

	workbook = xlrd.open_workbook('categories.xlsx')
	sheet = workbook.sheet_by_name('Form Responses 1')
	data = [[sheet.

[2017-10-14 18:22] delgrecoj commented on #13
Another team is working on a function that will pull data from the form sheet and save that data in CSV format to disk... as far as we're concerned, our function has to read that CSV and return the list of lists, which would look something like the following:

[code]

So my understanding is, that first part dealing with workbooks will not be needed, rather something that would read the CSV file th

[2017-10-14 18:24] delgrecoj commented on #13
I believe they said they would handle the `yes` to `true` and `no` to `false` conversions, and trimming the emails down to just the usernames.

[2017-10-14 18:26] delgrecoj commented on #13
So our real goal seems to be something to take the following CSV file
[code]
and read it in, returning a list of lists where each list is a line of the file, like

[code]

[2017-10-14 18:45] sutterj commented on #6
@yeeunmariakim and @delgrecoj could you explain how the sudoku and round-robin methods will work so that they can be described in the README?

[2017-10-14 18:51] delgrecoj commented on #6
Round robin will go through each of the groups adding one student each time until no students are left... don't have specifics on how it's choosing which student each time because I keep getting pulled away from working on this for other things, but it will try and do so in a way that diversifies the groups as best as possible.

Named the sudoku method that because the approach I want to use there

[2017-10-14 18:53] delgrecoj commented on #6
once they're implemented there will be explanatory comments that should be of use for the `README`.

[2017-10-14 19:02] yeeunmariakim commented on #3
Here are the functions from my pull request #35 that need testing:

In `create_escaped_string_from_list.py`, the input of the `create_escaped_string_from_list(student_identifiers)` function is a list of strings, and the output of the function should be the concatenation of all the strings in the list, each separated by a newline character. For example, if list = ['Maria', 'Dan', 'Simon'], then the

[2017-10-14 19:06] yeeunmariakim commented on #2
closing this issue because the check for group size has been merged into master in pull request #35

[2017-10-14 19:06] #2 closed

[2017-10-14 19:08] yeeunmariakim commented on #4
The set up for the logging has been merged into master in pull request #35 . Keeping this issue open because we will need to verify that others are logging in their implementations following the instructions provided in the repository Wiki.

[2017-10-14 19:30] dillam commented on #14
The program now takes the data from the google sheet and inputs the data into a csv.

[2017-10-14 19:37] delgrecoj commented on #13
@dillam is your spreadsheet function going to drop 0/1 values into the CSV file, or true/false strings, or perhaps something else?

[2017-10-14 19:47] ZachAndrews98 commented on #13
@delgrecoj can you double check your changes to read_student_file, I've been getting errors from that file:
line 16, in read_student_file
temp[0] = record[0] # handle identifiers separately                                                                                                                                       IndexError: list assignment index out of range

[2017-10-14 19:58] delgrecoj commented on #13
fixed.
hazards of working with Ruby, Rust, Golang, JavaScript, and Python all in the same day... all except Python are fine with that syntax...

[2017-10-14 20:54] delgrecoj commented on #31
merged.

[2017-10-14 20:54] #31 closed

[2017-10-14 22:04] burrowss commented on #10
Yeah, there looks to be a tool called autopep8 so I'm going to see if we might be able to use that so we don't have to go through every line of code and fix the errors.

[2017-10-14 22:47] burrowss commented on #10
It looks like the linting file right now goes through everything including site-packages and stuff that isn't written for our project. Can you take a look at that and make sure that it's running through files that we are supposed to change and keep track of? Like the py files just in our repository

[2017-10-15 18:10] dillam commented on #3
The only function from issue fourteen that could need testing is the `create_csv` function. It should take the from the spreadsheet and puts them into a csv file with the format.

[code]

The function pulls data from the spreadsheet and puts it into a dictionary. From there, it takes the data and formats it so that it can be used to create groups. Finally the formatted data is put into a list and

[2017-10-15 18:13] bonnettd commented on #3
Function assignments:
Dan: create_escaped_string_from_list, additional tests: duplicate names
Nick: group size validation, display_student_groups, remove_absent_students
Nikki: shuffle_students, display_student_identifiers
Jeff: parse_gatorgrouper_arguments, display_diagnostics

Undecided: proper categorization

[2017-10-15 19:10] burrowss commented on #9
Let me know when you guys have documentation ready for the test suite since my group has some stuff to add for the linting that we will be adding into the test suite

[2017-10-15 19:11] burrowss commented on #3
My group has a linting tool that we will need to add to the testing suite when you guys are ready. It is just about done so let me know when we can combine our code

[2017-10-15 19:19] cerdamejiaj commented on #3
@burrowss we are working on the test suite, but we can not fully complete them until the rest of the team managers tell us what they want us to test for their functions. Hopefully, they let us know by end of the day.

[2017-10-15 19:55] eltmanm commented on #6
I'm in the process of writing a chunk of text to explain how to prepare to run the program for the first time based around the Google sheets implementation from #14. I will paste it as a message in here once it is complete, as I am currently working from my laptop which doesn't have many of the required tools for sending it as a file on here and don't have time at the moment to get it that way.

[2017-10-15 20:01] bristola commented on #10
I just added the functionality to check for PEP8 in subdirectories.  Here's the link for library that automatically fixes of PEP8 problems that @burrowss was talking about. https://github.com/hhatto/autopep8

[2017-10-15 22:01] millinj2 commented on #3
For issue #12
Inputs: List of lists of students ` [[student1, 0, 1,0], [student2 ,0, 1, 1], [student3, 1, 1, 0]]` and list of absent students `[student2]`

Output: List of lists of students excluding absent students `[[student1, 0, 1, 0], [student3, 1, 1, 0]]`

[2017-10-15 22:16] wojnarn commented on #6
I'm in the process of adding examples and documentation for the specification and the round robin

[2017-10-15 23:00] delgrecoj commented on #13
Alright, have a working round-robin method pushed to our feature branch, with the sudoku one to come later this evening.  I would greatly appreciate some feedback and testing from you both, @sporrera, @ZachAndrews98.  I also recently pushed a fix to the random function, which I had to rewrite to handle group sizes greater than two properly, which was dropping students in some cases of unusual grou

[2017-10-15 23:02] delgrecoj commented on #13
Also, @ZachAndrews98, if you have any thoughts on the scoring function, I would like to get that merged into our feature branch sometime tonight, to hopefully get a pull request for our entire feature branch into master setup late this evening.

[2017-10-15 23:46] ZachAndrews98 commented on #13
Round robin looks good to me, just Display prints out the students in the groups like ['gkapfham4b'] which should probably be changed. Also made the changes @delgrecoj suggested to the group_scoring file so take a look at that and let me know if you want me to change anything.

[2017-10-15 23:51] sporrera commented on #13
@delgrecoj just making sure I still run the program with `python3 gatorgrouper.py` ? Or are there missing arguments I need to enter as well?

[2017-10-15 23:52] ZachAndrews98 commented on #13
@sporrera to run the round robin its python3 gatorgrouper.py --round-robin

[2017-10-15 23:54] sporrera commented on #13
Thanks for the input @ZachAndrews98 . I got it working and the output displays correctly @delgrecoj

[2017-10-16 01:03] bristola commented on #10
Are there any PEP8 standards that we should ignore when linting?

[2017-10-16 01:19] bonnettd commented on #3
@millinj2 Could you please specify the function that you are referring to?

[2017-10-16 01:43] Nikki-Luoma commented on #9
There is currently a rough draft of the documentation under the i9 branch.

[2017-10-16 01:47] millinj2 commented on #3
@bonnettd yes sorry its remove_absent_students():

`def remove_absent_students(absentee_list, list_of_student_lists):
    list_of_student_lists_copy = list_of_student_lists[:]
    for name in absentee_list:
        for student_list in list_of_student_lists :
            if student_list[0] == name :
                list_of_student_lists_copy.remove(student_list)
    return list_of_student_lists_cop

[2017-10-16 01:48] bonnettd commented on #3
@millinj2 Thank you!

[2017-10-16 01:56] delgrecoj commented on #13
On my systems it's just `python` and `python3` doesn't exist, but at any rate, thanks for taking a look.

Does that method seem alright for dealing with the potentially smaller-than-specified last group?  I had to do something since @gkapfham only had dealt with the case of group sizes of two and one student leftover, and it seemed most natural to just distribute them through the rest of the group

[2017-10-16 01:58] delgrecoj commented on #13
It might raise some eyebrows when people ask for a group size of say four and are given mostly 5-person groups or something similar... could perhaps add some threshold to distribute them that would allow for a mostly full partial group but not for a mostly empty partial group, but not sure what the requirements are for this... probably something to meet with the "customer" about.

[2017-10-16 02:04] ZachAndrews98 commented on #13
Yeah, I think allowing there to be one group that is slightly smaller than the rest should be fine, but it definitely is a good idea to check with the customer.

[2017-10-16 02:21] bonnettd commented on #3
@dillam In regards to the create_csv function, what is the name of the file that the function reads from to get the data? Also, is the output of the function one big list of lists where every element is a string? For example in the output that you described above: "eltmanm","True","True","True"
                                                                             "dillam","True","False","Fa

[2017-10-16 02:25] delgrecoj opened #40 "Dealing with the last, potentially smaller-than-requested group."
In the original implementation, it only supported groups of two, and it handled the odd number of students issue by adding the remaining student to one of the existing groups (the references to SINGLETON seen throughout the code).

I've expanded the `group_random` function to handle the cases where the number of students is not cleanly divisible by the group size provided, and it currently does so

[2017-10-16 02:27] delgrecoj commented on #13
Merged the scoring changes into #34, and created a new issue #40 for feedback on how we should move forward.

[2017-10-16 03:48] bonnettd commented on #3
@burrowss Just to give you a little status update: My group has completed most of the test suites for the program. We still have a few functions that are being completed so until they're completed we cannot fully complete or test our test suites. I am hoping to deliver a functioning test suites file to you as soon as possible tomorrow. I have spoken multiple times with your group member Austin, an

[2017-10-16 04:10] Andre-Bryan commented on #3
I also need them to run the pytest-coverage calculate and report

[2017-10-16 04:14] dillam commented on #14
The branch was merged into master. I am closing the issue.

[2017-10-16 04:14] #14 closed

[2017-10-16 05:01] delgrecoj commented on #3
`shuffle_students` takes a list and randomly shuffles it, returning the shuffled list.
`group_random` takes a list of the student responses and a desired group size, and groups the responses into the groups randomly, logging the scores and handling the last group as discussed in #40.
`group_rrobin` takes a list of the student responses and a desired group size, and groups the responses into the gr

[2017-10-16 05:07] delgrecoj commented on #40
Looking at `group_rrobin`, it's not obvious how we would change it to behave in the alternative way mentioned above... the nature of it cycling through the groups goes against there being a last, partially filled group, like the itertools slicing in the `group_random` function provides.

[2017-10-16 15:00] sutterj commented on #6
@wojnarn @JattMones Please add the parts that I assigned you by today at 1:30.  Make a branch off the branch for issue #6 and make a pull request so that I can review it.

[2017-10-16 15:21] toccinAC commented on #3
@millinj2 Hey I am currently writing the test for your function. I am just wondering where in the overall program does it interact with the list of students, because I don't see any other function that calls it.

[2017-10-16 17:09] wojnarn commented on #6
@sutterj I made a separate branch for my own assignment, was it not off of this branch?

[2017-10-16 17:16] sutterj commented on #6
It should have been off of 6 and not off the master.

[2017-10-16 17:29] eltmanm commented on #6
[Steps to Setup GatorGrouper for first time use.docx](https://github.com/GatorGrouper/gatorgrouper/files/1388463/Steps.to.Setup.GatorGrouper.for.first.time.use.docx)
this is a docx file, will need to be put into the readme or otherwise for final launch. someone will also need to look over it.

[2017-10-16 17:47] dillam commented on #3
@bonnettd The output of the function is a csv file called `data.csv`.  The name of the file it reads from is a google sheet called `Compsci280 Lab4 Survey Results`, the link for the spreadsheet is [here](https://docs.google.com/a/allegheny.edu/spreadsheets/d/1UkQDA5v0DWPxoKPUqOVQir6cbzX89o64EVUxMgbEyec/edit?usp=sharing). The list is only used to make the csv file.

[2017-10-16 18:00] sutterj commented on #6
@eltmanm I put your instructions in the readme on the branch for 6.

[2017-10-16 18:23] sutterj opened #43 "Add Dependencies to README"
We need to add a section that discusses dependencies in the readme as requested today in class.

[2017-10-16 18:37] millinj2 commented on #3
@toccinAC @yeeunmariakim Maria didn't you say your team was working on the command line arguments to read in the csv file for issue 12?

[2017-10-16 18:42] yeeunmariakim commented on #3
@millinj2 no, issue 12 never communicated with me a need for a command line argument. I added a command line argument to read in a list of absent students.

[2017-10-16 18:43] yeeunmariakim commented on #3
@toccinAC it shouldn’t matter whether the function was called to be able to test that function. If I recall correctly, @delgrecoj said he would be including the use of that function.

[2017-10-16 18:44] millinj2 commented on #12
So I guess Maria did not add in a command line argument to read in the list of lists of student for out function. @TravisThomasAC can you find a way to do this? We have to get back to Nick in issue 3 for the function call to the lists.

[2017-10-16 18:49] bristola commented on #11
After the our linting test case is integrated with the test suite, it will require `pip install pytest-flake8` in order to run correctly with Travis Cl.

[2017-10-16 18:55] Andre-Bryan commented on #8
We are using travis ci not travis pro correct?

[2017-10-16 19:09] millinj2 commented on #12
Just adding documentation for discussion through Slack on Wednesday October 11.

We met Thursday October 12 to discuss this issue. Maria was brought in to help clarify the exact requirement of this issue. The code was then implemented and push to the correct branch for a pull request.

[2017-10-16 19:09] Andre-Bryan commented on #11
where is the .travis.yml?

[2017-10-16 19:17] toccinAC commented on #3
Thank you I had already made the test case, I was just looking into the program to understand it better and never saw it called. Thank you for clarifying.

[2017-10-16 19:24] yeeunmariakim opened #47 "Linting Pytest Needs to be Moved to Test Suite"
As mentioned by @bristola in pull request #45, the `test_flake8()` test case needs to be integrated into the test suite. This should probably be addressed by the issue #3 team.

[2017-10-16 19:28] cerdamejiaj commented on #3
hey, @yeeunmariakim  I'm doing the test cases for arse_gatorgrouper_arguments(args). I'm getting two errors when I'm running them.

  `FileNotFoundError: [Errno 2] No such file or directory: 'students.csv'`
  `FileNotFoundError: [Errno 2] No such file or directory: 'students.txt'`
In the gatorgrouper I only see the students.txt but I don't see the students.csv

[2017-10-16 19:43] cerdamejiaj commented on #3
@delgrecoj we are creating the test cases for your functions but we can't actually test them until they are in master.

[2017-10-16 20:02] delgrecoj commented on #13
merged feature branch into master as of pull request #41.

[2017-10-16 20:02] #13 closed

[2017-10-16 20:03] delgrecoj commented on #3
has just been merged.

[2017-10-16 23:13] Andre-Bryan commented on #11
need admin rights to integrate with travis ci

[2017-10-17 00:56] Andre-Bryan commented on #3
anytime estimate on the test suites?

[2017-10-17 00:57] delgrecoj commented on #12
merged into master.

[2017-10-17 00:57] #12 closed

[2017-10-17 00:59] mendezjw commented on #5
After many attempts to get the tox testing tool working, the project managers as a collective deemed that there was to little documentation for the files needed in tox to successfully get a working testing tool with the allotted time. With the given documentation, provided by https://tox.readthedocs.io, we would need to look in every tox file and figure out how it would correlate to the files of G

[2017-10-17 01:03] cerdamejiaj commented on #3
@Andre-Bryan they should in test folder now. Is called test_gatorgrouper.py. Things might be added in the next few minutes.

[2017-10-17 01:06] yeeunmariakim commented on #4
Closing because we have verified that new code has included logging statements.

[2017-10-17 01:06] #4 closed

[2017-10-17 01:08] sutterj commented on #6
merged

[2017-10-17 01:08] #6 closed

[2017-10-17 01:17] yeeunmariakim commented on #47
@bonnettd has integrated this test case into the test suite.

[2017-10-17 01:17] #47 closed

[2017-10-17 01:17] geerc commented on #5
Added into the read.me information about the tox testing tool.

[2017-10-17 01:21] sutterj commented on #43
issue covered

[2017-10-17 01:21] #43 closed

[2017-10-17 01:33] yeeunmariakim commented on #16
Our system has the ability to distribute students evenly among groups by the skills they indicate they have (via Google Forms). These skills are represented as boolean values, not on a Likert-like scale. We hope that this algorithm allows for groups that are composed of individuals with a range of strengths; however, we are unsure of its performance (i.e. whether it creates better groups) than ran

[2017-10-17 01:33] #16 closed

[2017-10-17 01:48] Andre-Bryan commented on #8
test suites return an error
![error](https://user-images.githubusercontent.com/15573401/31642943-c71e629c-b2bb-11e7-8744-49da42a8cda0.png)

[2017-10-17 01:53] #5 closed

[2017-10-17 02:24] colezAC commented on #11
I'm waiting on the testing suite before adding Travis. I have a branch with everything set up, just need the test suite before merge.

[2017-10-17 02:38] #9 closed

[2017-10-17 03:42] burrowss commented on #15
After extensive testing with our test suite, we found that it is faster to just run the standard pytest tests instead of running the suite in parallel. Due to this, we have decided not to implement this issue and will instead keep the original pytest tests

[2017-10-17 03:42] #15 closed

[2017-10-17 03:43] burrowss commented on #10
Linting has now been performed on all of the code and additionally is part of the test suite. Instructions on further linting have also been added to the readme in case any issues arise.

[2017-10-17 03:43] #10 closed

[2017-10-17 04:52] yeeunmariakim opened #62 "Travis CI build Failing Because of Gspread"
The Travis build is failing because of the following error.
[code]
I think this could be fixed by adding this command to the `travis.yml` document.
`python3 -m pip install --user gspread oauth2client`

@Andre-Bryan could you look at resolving this issue?

[2017-10-17 04:58] Andre-Bryan commented on #62
I put that in already but it didnt work because it said that it cant be installed in virtually in travis
thats why I slacked kapfhammer

[2017-10-17 05:16] Andre-Bryan commented on #62
`$ python3 -m pip install --user gspread oauth2client
Can not perform a '--user' install. User site-packages are not visible in this virtualenv.
The command "python3 -m pip install --user gspread oauth2client" failed and exited with 1 during .'

[2017-10-17 05:23] Andre-Bryan commented on #62
tried - python3 -m pip install gspread oauth2client got the same error

[2017-10-17 05:33] Andre-Bryan commented on #62
everything should work now

[2017-10-17 14:10] #62 closed

[2017-10-17 14:11] #8 closed

[2017-10-17 14:11] #11 closed

[2017-10-17 15:30] #3 closed

[2017-10-17 16:10] sutterj opened #65 "Test suite not running"
The test suite will not run.  I edited some of the commands in the readme for installing the requirements for the test suite to include `--user`.  I made pull request #64 for this.  I am not sure about the test suite though.  Is anyone else having any issues?

[2017-10-17 16:26] burrowss commented on #65
I just ran it perfectly fine

[2017-10-17 17:11] sutterj commented on #65
I tried it on my computer and a lab computer and I could not get it to run after ensuring I had all the requirements installed

[2017-10-17 17:57] #65 closed

[2017-10-18 16:51] delgrecoj commented on #40
Current behaviour passed acceptance testing.

[2017-10-18 16:51] #40 closed

[2017-11-07 20:12] burrowss opened #70 "Absentees not working for multiple people"
python3 gatorgrouper.py --absentees kimy, burrowss

outputs

GatorGrouper: Automatically Assign Students to Groups
https://github.com/gkapfham/gatorgrouper

Group 1
dillam
colez
millinj2

Group 2
kimy
eltmanm
bonnettd

Group 3
thomast2
kimy
toccin

Group 4
sutterj
bristola
lylet

Group 5
delgrecoj
luoman
shafferz

Group 6
mendezj
vargask
cerdamejiaj

Group 7
bryana
wojnarn
andrewsz

kimy is still

[2017-11-07 20:14] burrowss opened #71 "Potential Help argument"
Similar to Accelegator, maybe we can add a help argument where it prints out the possible arguments that can be entered

[2017-11-07 20:23] millinj2 opened #72 "Feature Number of Groups"
Add the feature to select the number of groups, like group size, for randomization.

[2017-11-07 20:25] sporrera commented on #70
Going off of this, the flags that do NOT work are:
python3 gatorgrouper.py --absentees student1, student2
     **student1 is still placed in a group
python3 gatorgrouper.py --absentees 'student1', 'student2'
     **student1 is still placed in a group
python3 gatorgrouper.py --absentees "student1", "student2"
     **student1 is still placed in a group

[2017-11-07 20:33] eltmanm opened #73 "Move default items to DEFAULTS.py"
Items in the program such as default group size should be entered into a default file so that users have better access and changeability to what their default configurations would be. we have one called defaults.py, but given someone who does not have access to editing python or what not, a .txt file would perhaps be a better idea.

[2017-11-07 20:33] sporrera opened #74 "Bypass Google Forms integration by using a flag"
To bypass the Google Forms integration and instead supply a list of students
directly to the program, use the `--students-file` flag.

[code]

These commands do not work.  I get the following error when I run both commands:
"File "gatorgrouper.py", line 42, in <module>
    SHUFFLED_STUDENT_IDENTIFIERS = shuffle_students(STUDENT_IDENTIFIERS) line 47, in shuffle_students shuffle(shuffled_responses F

[2017-11-07 20:34] millinj2 opened #75 "Form Response Editing"
When a student edits their response in the Google Form, their name ends up in the csv file twice (or more depending on the number of times they edit their response). There needs to be a way that pulling from the csv file will only take the most recent response in the spreadsheet from the student.

[2017-11-07 20:38] castellanosr opened #76 "Correct Links"
https://github.com/GatorGrouper/gatorgrouper needs to be outputted in the terminal, but https://github.com/gkapfham/gatorgrouper is the current displayed link.

[2017-11-07 20:38] eltmanm opened #77 "Multiple responses for same person appearing in program"
After running gatorgrouper.py, the output lists of students have multiples of the same student when that student supplies multiple responses. we should implement a method for catching this in-program and ensuring the list only shows one of every student.

[2017-11-07 20:40] millinj2 commented on #70
This also cannot take in two commands such as --absentees and --group-size. It does not specify the absentees and group size to get the specific groups needed with the correct students.

[2017-11-07 20:41] millinj2 commented on #77
This is because of issue #75 Form Response Editing.

[2017-11-07 20:41] sporrera commented on #77
Let's close this and keep issue #75.

[2017-11-07 20:47] dillam commented on #74
@sporrera Whenever you run those commands are you copy and pasting from the readme?

[2017-11-07 20:50] sporrera commented on #74
I have both copied and pasted the commands and typed them out individually

[2017-11-07 20:51] sporrera opened #78 "Test Cases cannot be run"
We cannot run the test cases in gatorgrouper/tests

[2017-11-07 20:52] dillam commented on #74
When you use them, is there a file in the directory called `students_list.csv`?

[2017-11-07 20:57] sporrera commented on #78
It could be added to the README.md that if pytest tests is not working, you could try this command:

It should be run from the root directory:

[code]

@milleriAC
@bonnettd

[2017-11-07 21:01] ZachAndrews98 commented on #74
I ran the bottom command (python3 gatorgrouper.py --students-file students_list.csv) with a file named students_list.csv and I did not get any errors. This was my output (the first line shows the name of the file being read):
students_list.csv
Group 1
sutterj
eltmanm
thomast2
vargask

Group 2
colez
toccin
millinj2

Group 3
burrowss
bonnettd
shafferz

Group 4
lylet
cerdamejiaj
kimy

Group 5
wojnarn

[2017-11-07 21:02] sporrera commented on #74
No, and after a recent pull I only have students.csv .. If I change the command to

[code]

then I can run the command

[2017-11-07 21:05] #76 closed

[2017-11-07 21:05] millinj2 opened #80 "Travis"
Travis is not enabled

[2017-11-07 21:06] shafferz opened #81 "Implementing a GUI to Enhance Usability"
I think that the implementation of a simple Python-based GUI script may help with the overall usability of the program. As it stands now, the biggest issues I've had with the software as-is have been in regards to setting up the program, and I believe that the implementation of a simple GUI may make that task trivial.

I was thinking of using the tkinter library in Python3, a simple and elegant GU

[2017-11-07 21:07] cerdamejiaj commented on #74
The readme file is not clear enough. Instead of having `python3 gatorgrouper.py --students-file "students_list.csv"`

we should have
`python3 gatorgrouper.py --students-file "filename.csv"`

something that is better to understand.

[2017-11-07 21:08] millinj2 commented on #75
@dillam would this be implemented in the speadsheet.py with pulling from the google sheets?

[2017-11-07 21:10] dillam commented on #74
Okay, create a pull request then I will close the issue.

[2017-11-08 18:29] dillam commented on #75
You can also just make it so that the google form will not let you edit your answers. But yes it would be done in `spreadsheet.py`. Lines 34-48 are for making sure that the output from the google form is int the proper format.

[2017-11-08 18:30] dillam commented on #75
You can also just make it so that the google form will not let you edit your answers. But yes it would be done in `spreadsheet.py`. Lines 34-48 are for making sure that the output from the google form is int the proper format.

[2017-11-08 18:30] dillam commented on #75
You can also just make it so that the google form will not let you edit your answers. But yes it would be done in `spreadsheet.py`. Lines 34-48 are for making sure that the output from the google form is int the proper format.

[2017-11-08 18:30] dillam commented on #75
You can also just make it so that the google form will not let you edit your answers. But yes it would be done in `spreadsheet.py`. Lines 34-48 are for making sure that the output from the google form is int the proper format.

[2017-11-08 18:33] ZachAndrews98 commented on #71
This is essentially already accomplished by typing

unless you are saying we implement a command system like Accelegator's and have commands typed into the program when it is running instead of before.

[2017-11-08 18:33] ZachAndrews98 commented on #71
This is essentially already accomplished by typing

unless you are saying we implement a command system like Accelegator's and have commands typed into the program when it is running instead of before.

[2017-11-08 18:34] ZachAndrews98 commented on #71
This is essentially already accomplished by typing

Unless you are saying we implement a command system like Accelegator's and have commands typed into the program when it is running instead of before.

[2017-11-08 18:34] ZachAndrews98 commented on #71
This is essentially already accomplished by typing

Unless you are saying we implement a command system like Accelegator's and have commands typed into the program when it is running instead of before.

[2017-11-08 19:15] colezAC commented on #81
I have a GUI mostly built, it just won't run the program right now because it won't allow oauth to import. I only have this problem when trying to run it through the GUI.

[2017-11-08 19:56] millinj2 commented on #72
Made a branch called i-72-num-of-groups. Also started a parse arugment for this feature.

[2017-11-11 15:51] sporrera opened #83 "BUG: Issue Running Test Suites -- README.md potential clarification needed?"
When I try to run the test suite following README.md I get the following error:

![screen shot 2017-11-11 at 10 50 37 am](https://user-images.githubusercontent.com/22895356/32690970-37d48112-c6ce-11e7-8073-8e6ffb3237ff.png)

I'm not sure whether this is an issue on my part or not, but as I followed README.md exactly I wanted to address it in the issue tracker as trying to run the test suites resul

[2017-11-11 15:58] sporrera commented on #83
Also when trying to install and run pytest-coverage, I got the following error:

![screen shot 2017-11-11 at 10 55 25 am](https://user-images.githubusercontent.com/22895356/32691023-16cca188-c6cf-11e7-8909-099d2665c36e.png)

It seems as though its having trouble both in this comment and my previous comment with identifying pathlib.  Does anyone have any solutions as to how to make this either more

[2017-11-11 16:07] sporrera commented on #83
closing this because upon further review it is addressed in issue #78

[2017-11-11 16:07] #83 closed

[2017-11-11 16:13] sporrera commented on #78
Addressed in pull request #82

[2017-11-11 16:13] #78 closed

[2017-11-11 16:13] sporrera commented on #74
addressed in pull request #82

[2017-11-11 16:13] #74 closed

[2017-11-12 20:31] burrowss commented on #80
So Travis is enabled and everything is passing but I'm not sure why the green checks aren't showing up

[2017-11-12 21:05] ZachAndrews98 commented on #81
How is this enhancement going? Any progress made? Also, make sure any requirements for the system get added to the requirements.txt.

[2017-11-12 21:33] burrowss commented on #80
Got it working.

[2017-11-12 21:33] #80 closed

[2017-11-12 23:54] shafferz commented on #81
@ZachAndrews98 We have the shell of the GUI itself, and are in the process of writing the functions to execute the code.

[2017-11-12 23:58] burrowss commented on #71
That is what I mean, but it looks like we don't have that in the README, we should add that

[2017-11-13 00:00] #71 closed

[2017-11-13 00:04] burrowss commented on #73
I think the defaults.py is fine since you can edit it like a txt file if needed and it already has the defaults needed

[2017-11-13 00:27] burrowss commented on #70
So everything seems to be working on an old branch Maria made, called feature/fixing-absentee-bug. If we can use the old code from that, and implement it, it should be able to work correctly

[2017-11-13 00:27] ZachAndrews98 commented on #81
Alright! Cool.

[2017-11-13 00:47] ZachAndrews98 commented on #72
How do we determine what should take priority when grouping students- group size or number of groups? Do we want it to be that if the number of groups is different than the default value, the number of groups takes priority or something else?

[2017-11-13 02:15] burrowss commented on #70
I've been checking this issue, and it seems like once spreadsheets.py and gatorgrouper.py are edited to include the defaults, it starts to fail. I'm going to continue looking into changing up the defaults so it works.

[2017-11-13 03:00] eltmanm commented on #70
in case this much has not been figured out yet, Shaffer and I have been taking a look at this for GUI, and it appears absentees is taking exclusively the last name entered.

[2017-11-13 03:51] burrowss commented on #70
So I think the issue was me using it on git bash on Windows because while it was failing there, on my laptop with Ubuntu it works fine. So I'm not quite sure if there is an issue with the code

[2017-11-13 18:35] toccinAC commented on #72
I agree the number of groups should take priority if the number is different from the default value.

[2017-11-13 18:35] shafferz commented on #81
The GUI has basic random/round-robin functionality as of now. We also have a desktop loader that launches the program from the desktop.

[2017-11-13 18:37] ZachAndrews98 commented on #72
I implemented this feature, as I stated above if the number of groups is not the default (0, to not allow people to troll the system by having group sizes of 0) then the number of groups will be fixed at the user's input and place all of the students into these groups. I will create a pull request for it but please run the code and look for any bugs that I may have missed.

[2017-11-13 18:44] lylet-AC commented on #70
I'll try it out on my windows pc too to see if it's working

[2017-11-13 18:47] #73 closed

[2017-11-13 19:07] mendezjw commented on #70
I also noticed that there are two kimy and when a working command line input is used both kimy are removed from the groups, which can cause issues for people with the same name.

- In burrowss example output there is a kimy in groups 2 & 3

[2017-11-13 19:13] burrowss commented on #70
@mendezjw it shouldn't be an issue since allegheny emails are different for everyone. One email would have a 2 at the end of it and the program checks the name before the @ symbol which is unique. The reason why there are 2 kimy is that Maria entered responses twice

[2017-11-13 20:56] millinj2 commented on #72
I ran it and it looks good!

[2017-11-13 21:06] millinj2 commented on #72
@ZachAndrews98 where exactly is the code for this?

[2017-11-13 21:10] millinj2 commented on #72
Also I just pushed the test case for this feature. The tests pass except for the flake8. Not sure if this is just because I need to install something or what. @burrowss

[2017-11-13 21:13] millinj2 commented on #75
@dillam have you worked on this at all?

[2017-11-13 21:16] millinj2 commented on #70
@mendezjw @burrowss Yes this is addressed in issue #75, so it should take the most recent entry from the spreadsheet and use that to make the groups.

[2017-11-14 00:42] ZachAndrews98 commented on #72
@millinj2 The functions for this feature are in group_random and group_rrobin.

[2017-11-14 02:10] #72 closed

[2017-11-14 02:13] burrowss commented on #70
Since this is being addressed somewhere else and the original issue has been dealt with, I'm going to close the issue

[2017-11-14 02:13] #70 closed

[2017-11-14 02:34] bonnettd opened #86 "Enhancing the Command Line Output"
If the program is going to continue to use its command line interface, then I think we should change the font of the group labels just for easier recognition of the group numbers and members

[2017-11-14 02:35] bonnettd commented on #86
I have created a branch called i-adjusting_output
I am going to create a pull request for this branch explaining the changes that I have made

[2017-11-14 03:04] #86 closed

[2017-11-14 03:07] ZachAndrews98 opened #88 "Updating Documentation"
Need to add documentation for --num-groups.
Created new branch i-88-update-docs

[2017-11-14 03:10] bonnettd opened #89 "Duplicate Name"
I just noticed that every time I run "python3 gatorgrouper.py" the name "kimy" is appearing in two different groups. Is this an error with the algorithm or is her name in the file twice?

[2017-11-14 03:14] ZachAndrews98 commented on #89
Her name is in the file twice.

[2017-11-14 03:14] #89 closed

[2017-11-14 03:28] bristola opened #90 "Refactor Test Suite"
All test cases are in the same file.  It would be better to break this into multiple files like in the other projects.

[2017-11-14 17:25] #90 closed

[2017-11-14 17:26] #88 closed

[2017-11-14 18:24] ZachAndrews98 commented on #81
Has the GUI been updated to allow for a number of groups/number of students in the groups to be specified?

[2017-11-14 19:26] eltmanm commented on #81
what has been pushed so far runs the same as the main program with random. absentees would theoretically work with absentees working properly, though we havent been working with a complete fixed absentees function in our branch, and there are a few things that i think @shafferz has on his computer that hasnt been pushed yet.

[2017-11-14 19:35] #75 closed

[2017-11-14 19:37] ZachAndrews98 commented on #81
Anything that hasn't been pushed up should be pushed up and tested so that we can implement this feature.

[2019-01-26 08:38] miller365 commented on #81
Was this feature ever completed?

[2019-01-26 08:43] miller365 opened #94 "Creating Frontend Web Application to Increase Usability"
I believe many faculty at Allegheny would find this software useful but may find the process of pulling the repo, downloading the proper dependencies challenging thus dissuading them from using it. I propose building a simple web application that uses gator grouper on a python server in background. This implementation could be done in a micro framework like flask or pyramid. The front-end design c

[2019-01-28 14:52] eltmanm commented on #81
No it wasn't. Too many issues getting it to connect with the existing material

[2019-01-28 15:37] gkapfham commented on #81
I'm going to close this issue as I do not think that it is a good idea to focus on the implementation of this feature. I would like to have a reliable command-line interface in production before we consider adding a graphical user interface. If this is an issue down the road, then we can open a new issue. Let me know if you disagree!

[2019-01-28 15:37] #81 closed

[2019-01-29 16:29] gkapfham opened #95 "Use Pipenv for Dependency Management"
This project currently uses Pip for dependency management. However, this leads to the development and application dependencies currently being mixed in the same `requirements.txt` file. The project should be overhauled so that it now uses Pipenv instead and then the documentation should have new instructions for installing the dependencies and running the application and its test suite.

[2019-01-29 16:31] gkapfham opened #96 "Restructure Project so That Modules are in a Separate Directory"
Currently, the main modules (i.e., Python files) are in the main directory for the project. However, this makes the main directory more cluttered. This application should be significantly restructured so that all of the Python modules are moved into a new package represented by a directory with a suitable name.

[2019-01-29 16:34] gkapfham opened #97 "Delete Google Forms Interaction and Use a Local CSV File"
The system currently provides a feature that supports interaction with Google Forms. While there is merit in this feature, my concern is that it adds complexity and it hard to test with an automated test suite. As such, I suggest that we remove the Google Forms integration and instead ask the user to specify a CSV file that contains the results from a Google Form. While this is extra work for the

[2019-01-29 16:37] gkapfham opened #98 "Fix URL Given in the Help Menu"
The tool currently gives an incorrect URL when a person runs the tool. This should be fixed so that it correctly displays the URL for the current repository. Additionally, we need to update the README.md file so that it displays the correct output.

[2019-01-29 16:39] gkapfham opened #99 "Report Coverage Through PyTest and to CodeCov.io Instead"
The README contains instructions for running code coverage analysis that may not be standard. First, all of the dependencies should be installed with Pipenv. Second, coverage should be collected exclusively through a run of Pytest. Finally, details about reporting coverage to Coveralls do not need to be in the README file as they are instructions exclusively for use in Travis CI. I also suggest th

[2019-01-29 16:41] gkapfham opened #100 "Delete Travis CI Integration Documentation"
The README file currently explains how to enable Travis CI. However, this is not needed in the README and thus I suggest that it be removed entirely. You should also ensure that the Travis CI integration specified in the `.travis.yml` file is up-to-date and working in accordance with the newest version of travis-ci.com.

[2019-01-29 16:43] gkapfham opened #101 "Add Badges to the Top of the README"
The project currently has a badge at the very bottom of the README. This should be moved to the top. Also, the integration should be with CodeCov.io instead of Coveralls. Finally, you should add extra badges that report, for instance, the status of the build.

[2019-01-29 16:45] gkapfham opened #102 "Delete Coveralls Activation Details from the README"
Currently the README file has a description of how to enable Coveralls. Along with removing this integration and replacing it with one that uses CodeCov,io, we need to delete all of this activation content. This is the type of material that belongs inside of developer documentation or in the `.travis.yml` file and not in the README file.

[2019-01-29 16:46] gkapfham opened #103 "Reconfigure Travis CI so That is Uses Pipenv"
The Travis CI configuration given in the README file is out of date in regards to the current standards for using Travis CI. This content should also be thoroughly revised so that it uses Pipenv for dependency management.

[2019-01-29 16:48] gkapfham opened #104 "Adopt Better Standards for Project Code Linting"
The README file and the Travis CI configuration does not always adhere to best practices for code formatting. This project should use Black to format all of the source code. Additionally, it should ensure that the linting tools check this formatting so that a build in Travis CI will fail if the code is not correctly formatted.

[2019-01-29 16:50] gkapfham opened #105 "Test with Multiple Versions of Python Using Pyenv and Tox"
The tool is currently only being tested with an old version of Python. First, we should start developing and testing according to the features of a new version of Python. Next, we need to start performing test suite runs with multiple version of Python in Travis CI. I suggest that we investigate the combined used of Pyenv and Tox to support this type of testing. Overall, this type of testing will

[2019-01-29 16:51] gkapfham opened #106 "Provide a Sample CSV File to Support Initial Exploration"
The repository does not provide an example of a CSV file for which a person can use as input when running the sample instructions. This makes it really difficult for a person to use the examples in the README file. We should provide a sample CSV file in an appropriate sub-directory and then use this as part of any examples.

[2019-01-29 16:52] gkapfham commented on #106
It is important to note that adding this CSV file might require us to either adjust the `.gitignore` file or to force-add this file.

[2019-01-29 16:54] gkapfham commented on #95
It is also important to point out that there are a lot of instructions about running the program in a virtual environment that are incorrect once we start to use Pipenv for managing the project's dependencies.

[2019-01-29 16:56] gkapfham opened #107 "Add New Algorithms to Support Team Creation"
This tool should support more advanced algorithms for forming teams. For instance, it might be possible to use the alternating variable method (AVM), hill climbing (HC), or a genetic algorithm (GA) to create the teams. Once these algorithms are added, they should have test cases for them and clear documentation in the README.

[2019-01-29 16:59] gkapfham opened #108 "Add Documentation That Explains Trade-Offs of Methods"
The README file shows that GatorGrouper has multiple methods for forming the groups. However, there is no discussion of the trade-offs associated with using these different methods. As such, the documentation needs to explain more clearly how the methods work and when they work well. The output of GatorGrouper should be compared and contrasted when it is used with different methods.

[2019-01-29 17:00] gkapfham opened #109 "Add Integration with GitHub Classroom"
This tool currently produces output in a terminal window. Then, a course instructor or the students in the course will have to follow the output of this tool when they are forming groups in, say, GitHub Classroom. Is it possible to provide tighter integration with a tool like GitHub Classroom?

[2019-01-29 17:04] gkapfham opened #110 "Introduce Parallel Test Suite Execution and Measure Benefits"
The existing test suite for GatorGroup may take too long to run, especially as we start to add test cases for new algorithms and features. It would be ideal if we could reduce this execution time to less than two seconds so that the tests can be run on a very regular basis during development. As such, it might be useful to investigate the use of a tool like `xdist` and see whether or not it can ru

[2019-01-29 17:08] gkapfham opened #111 "All Team Members to Give Feedback About Team Formation"
Currently the GatorGrouper tool does not give the people in their teams the opportunity to provide feedback about the teams. Any large scale study of GatorGrouper and its effectiveness should include a way for team members to give feedback on their team. Did the team members work well together or not? In what ways would a team member suggest that the team could have been improved? These are the ki

[2019-01-29 17:09] gkapfham opened #112 "Perform Robustness Testing with Hypothesis"
While GatorGrouper currently has a high coverage test suite, it is good idea for us to perform additional testing, perhaps by using a tool like Hypothesis to generate random input values. These tests could be marked separately and, perhaps, not during during the Travis CI build. However, this new type of testing could be useful for finding hard-to-discover bugs in "corner cases" of, for instance,

[2019-01-29 17:12] gkapfham opened #113 "Systematically Use Constant Strings in Different Modules"
The source code for different modules contains hard-coded strings! For instance, the main `gatorgrouper.py` file contains the following source code:

[code]

I suggest that we start to avoid using hard-coded strings like `rrobin` and instead use constant variables. Also, I suggest that the names of the constant variables be much more descriptive.

[2019-01-29 17:19] gkapfham opened #114 "Add a Logo and a Project Summary"
This project needs to have a logo and a catchy project summary at the start of the README! The logo should be designed in SVG format. Here are some resources:

http://logodust.com/
http://openlogos.org/

Please note that the first site has logos that we can download and try to incorporate. The second page only has logos that we can use for inspiration as they have already been claimed. Once we hav

[2019-01-29 17:20] gkapfham commented on #95
I should also point out that many of the instructions say that you should run the program by typing `python3`. This will be incorrect once we start to use Pipenv!

[2019-01-29 17:24] gkapfham opened #115 "Explain How to Install Python with Pyenv"
It is possible that people with have difficult installing and using GatorGrouper because they do not know how to install Python on their machine. While #81 suggests that we add a graphical user interface, and I agree that this is a good idea, we will have to focus first on finishing the tool and supporting the programmers who want to use it. This means that the README file should have documentatio

[2019-01-29 18:06] gkapfham opened #116 "Do Not Require Editing of Source Code to Use"
The current README file explains that you have to edit source code in order to configure the interaction with the Google Sheet. While I am advising that we delete this code, as per #97, we should also make sure that the tool never requires a person to edit the source code in order to run the tool.

[2019-01-29 18:09] gkapfham opened #117 "Add/Confirm Command-Line Argument Verification"
While I understand that #2 indicates that the command-arguments are fully verified, it is not yet clear that they are fully verified and that error messages are displayed if the arguments are incorrect in any way. We should perform additional testing to ensure the robustness of the parsing of the command-line arguments. There should also be clear calls to the verification functions in the main mod

[2019-01-29 18:12] gkapfham opened #118 "Show Output of the Commands"
The README file currently shows how commands are run, but, first, this does give a prompt symbol, `$`, to indicate that they are commands for execution. Also, the README does not give any output of these commands. This should be added to the README, along with the discussion of the trade-offs inherent in the different teams.

[2019-01-30 17:08] gkapfham opened #119 "Distinguish between HIB and LIB Scores"
The GatorGrouper tool adopts different approaches to assigning people to a team based on "scores" for each individual who can be assigned to a team. However, the documentation does not explain how the tool handles higher-is-better (HIB) and lower-is-better (LIB) scores. Does it handle both? Does it only handle one of these? How does the algorithm handle a mixture of HIB and LIB scores? How does a

[2019-01-30 17:17] gkapfham opened #120 "Perform Mutation Testing to Assess the Adequacy of the Test Suite"
Even though GatorGrouper has a high-coverage test suite, it would be a good idea for us to assess the quality of the tests through the use of a mutation testing tool. There are several mutation testing tools for Python, such as MutPy and Cosmic-Ray. However, we would need to investigate the types of mutation operators employed by these tools and learn how to introduce them into our build system.

[2019-01-30 19:35] gkapfham commented on #94
Hello @miller365, thanks for raising this issue. I agree with these points and appreciated our recent in-person conversation about this idea. I wanted to quickly write down that one of our main ideas for this feature is to implement this as a web application using Django or Flask and then deploy to Amazon Elastic Beanstalk. As the command-line interface and the API for this tool stabilizes further

[2019-01-30 23:07] aubreypc commented on #94
Cool idea! I would be willing to help out with this, either on the back-end or front-end.

Seems like it would be pretty quick to get a prototype web server running as a Flask app --- would just need to design a JSON API around the existing command line interface, and then that could be used for front-end development. Long-term, I agree with Chris that it would be best to have a database model, as

[2019-01-30 23:08] aubreypc opened #121 "Private Keys Committed to Repo"
There appear to be several private keys and tokens in this file. Are these real keys / keys to anything important?

https://github.com/GatorEducator/gatorgrouper/blob/master/authorizationKey/keyFile.json

[2019-01-31 22:14] aubreypc commented on #116
This is a major issue, installation should be as straightforward as possible. I propose that we use environment variables for any keys or API tokens. We can write a setup script which runs automatically after pip install to set up the default values, and have a script with some kind of command-line interface for updating the env variables with keys.

This also has the benefit of making it impossib

[2019-02-01 17:47] aubreypc commented on #94
If we go down this path, I'm wondering whether we might want to rethink the whole process of making and connecting the Google form & spreadsheet. Having the option for CSV uploading is one thing, but if we want to deploy this as a public web app it seems like it would be more streamlined if we make our own replacement for the Google form, where info about the teams can be gathered directly on the

[2019-02-02 18:44] aubreypc commented on #96
I have a proposal for the structure of the project:

- tests/
- src/
  - gatorgrouper.py
  - models/
    - group/
        - the existing `group_*.py` files, without the `group_`
  - views/
  - controllers/
        - the existing code for connecting to external services & API

This uses a [model - view - controller](https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller) design pattern

[2019-02-03 03:57] miller365 commented on #94
I agree with Aubrey this doesn't really make the project very scalable or streamlined. I think we should start drafting a database model to design and start thinking about implementation.

[2019-02-05 05:24] Lancasterwu opened #124 "Add Flake8 and Pylint and Other Linting Tools Directly to Travis CI"
There are 2 lines of `tests/test_flake8.py` was not covered. Also, Gatorgrouper is using `coveralls.io` to show the code coverage, should we change it to `codecov.io` so we can easily know which line wasn't covered?

[2019-02-05 17:14] gkapfham commented on #94
Hello @miller365 and @aubreypc, I think that your suggestions are great ideas. We should plan to have a complete web-based interface that would allow for the completion of tasks like:

* Complete a form to self-report details about your expertise with technical and professional skills
* Build a form that a team member would complete to report details about expertise in the aforementioned skills
*

[2019-02-05 17:22] gkapfham commented on #96
One quick comment based on the suggestion by @aubreypc: to learn more about the model-view-controller approach, you should also read Chapter 32 in the _Exercises in Programming Style_ book. The title of this chapter is "Trinity" and it explains the three entities that @aubreypc mentions. If we all read this chapter, then it will help us to better discuss the trade-offs of this approach.

One last

[2019-02-05 18:25] Lancasterwu commented on #124
@gkapfham I think it is the great idea to just put linting into the Travis CI. The test cases should be more specific to some features of the program. Since I am personally interested in code coverage, I will go ahead to do some research and use `codecov.io` to replace `coveralls.io`.
Also, should I create another issue to be more specific abut  adding Flake8 and Pylint and other linting tools dir

[2019-02-05 19:32] gkapfham commented on #124
Hi @Lancasterwu, I think that you could potentially keep this issue but rename it so that it better fits your goals. You should also make sure that a team leader approves your work on this task.

[2019-02-05 21:03] griffinh1 commented on #118
Isaac's Team

[2019-02-05 21:14] Lancasterwu opened #125 "Manually Create a Single Issue Template for Gatorgrouper Repository"
Reference: https://help.github.com/articles/manually-creating-a-single-issue-template-for-your-repository/

[2019-02-05 23:57] Lancasterwu opened #127 "Create a Pull Request Template for Gatorgrouper Repository"
Since teams are going to create a lot of pull requests, I think we need a pull request template to make sure it is easy to differentiate their feature and purpose.
Github does support that: https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

We probably need to do this ASAP.

[2019-02-06 17:00] aubreypc opened #128 "Use Type Hints in Order to Manage Complexity of Python's Dynamic Typing"
Python is a dynamically typed language, meaning we don't have to specify whether a variable is a string, int, list, tuple, etc. when we define it, and we can reassign the type of a variable freely. While dynamic typing can be very convenient, it can also cause problems when a function receives an argument of an unexpected type. For example:
[code]

Python 3 introduces type hints, an optional synta

[2019-02-06 18:36] aubreypc opened #129 "Perform User Research to Understand Needs of the Software"
In order to give direction to this project, we need to come up with answers to the following questions:

- Who are our users?
- What problems are we trying to solve for our users?
- What features would help to solve those problems?

I suggest that we reach out to Allegheny professors from different departments in order to learn more about how they approach group assignments. This way, we can begin

[2019-02-06 19:08] ursowilliam commented on #129
I can reach out to some Professors I have done group projects with at Allegheny College in many different types of classes. I will try to gather information on different group work they have done in the past and what has been successful versus unsuccessful. Along with ways in which they believe assigning groups is the best, to help think of possible new features. Along with this I will let them kn

[2019-02-06 21:36] aubreypc commented on #121
The keys seem to be used as part of the Google Forms integration --- keyFile.json is only referenced in spreadsheet.py. Addressing Issue #97 will also address this.

[2019-02-06 21:36] #121 closed

[2019-02-07 05:00] aubreypc commented on #129
Sounds good, @ursowilliam! Please keep me posted on what you are hearing in their replies. We'll be using this to draft up a document on user experience / usability standards -- feel free to join #interface in Slack if you want to be involved in that part of the process.

Others are welcome to help out with this as well if they like! If someone wants to make a template email or something that migh

[2019-02-07 15:29] aubreypc opened #130 "Implement a Scrum Framework to Manage Project Goals and Deadlines"
## What's Scrum?

A very silly word -- but besides that, **Scrum** is a system for managing projects, breaking up goals into concrete tasks, setting expectations, and ensuring that team members know what each other are working on. It's a way of implementing **agile development**, a corporate buzzword which basically just describes the goal of our class: form self-organized teams which adapt to unc

[2019-02-07 15:38] aubreypc commented on #129
In doing this user research, it may help if we [phrase our findings in terms of user stories](https://www.mountaingoatsoftware.com/agile/user-stories) in order to integrate them into the product design process.

[2019-02-07 15:51] ursowilliam commented on #129
Below is the drafted up template email. Let me know what you all think and what changes I should make! You just have to copy and past the think as I wrote it in word.

[Template Software Engineering Email.docx](https://github.com/GatorEducator/gatorgrouper/files/2841592/Template.Software.Engineering.Email.docx)

[2019-02-07 16:20] aubreypc commented on #129
@ursowilliam That looks like a good start! If I can suggest a couple small changes:

- Phrasing the introduction in terms of their needs & how this project will make their lives easier may make getting a response more likely
- It might be good to keep the questions (especially 2) open-ended / less tied to the existing features
- Similarly, I would suggest adding another question along the lines of

[2019-02-07 16:29] ElisiaW commented on #129
@ursowilliam Hi, thank you for this template! I made a few edits to what was written. The content that @aubreypc still needs to be added, however. Thanks!

[Template.Software.Engineering.Email.docx](https://github.com/GatorEducator/gatorgrouper/files/2841775/Template.Software.Engineering.Email.docx)

[2019-02-07 17:39] ursowilliam commented on #129
Thanks for the suggestions! Attached I have updated the template to best incorporate those suggestions. Let me know what you all think!
[Updated Software Engineering Email Template.docx](https://github.com/GatorEducator/gatorgrouper/files/2842039/Updated.Software.Engineering.Email.Template.docx)

[2019-02-07 19:43] aubreypc commented on #129
@ursowilliam @ElisiaW  Nice work, this updated template looks good to me!

Does anyone else have any final suggestions before we start to send out the emails?

I'm wondering if we should also consider students' attitudes toward group work as a jumping off point for thinking about how students will interact with the tool and what kind of features can facilitate that. (Luckily that research is a lit

[2019-02-07 20:40] ElisiaW commented on #129
I just realized that the software project is actually spelled wrong haha, updated! Also added a few more minor edits as well.

[2019-02-07 23:38] paladp commented on #129
Looks good! Couple of quick things:

- Should "make this program useful as possible" be "make this program as useful as possible" ?
- Should "Your answers along with the others we collected" be "Your answers along with the others we collect" to correct for tense?

[2019-02-07 23:48] paladp commented on #129
Additionally, I think the feedback we get from the professors can really help guide the description that should be created  as per issue #114.

[2019-02-07 23:49] chenc-allegheny commented on #129
I can answer those as an instructor in language department:
I am an instructor of Chinese with a class size under ten.
1. Yes. I usually pair them up to have conversational practice.
2. If it is homework, I would let them find their partners. If it is in-class activity, I will have them team up with neighboring students. In Chinese classes, the class size is relatively small, compare to that in cm

[2019-02-08 01:07] chenc-allegheny commented on #130
Maybe after the Scrum meeting, Scrum Masters(team leaders) should also briefly explain the progress of their teams to the Product Manager, to the CEO, to the class.

I also think that it would be very helpful if we can have a job-handover meeting, so that we know what the previous developers were thinking, for example, explain more on the Round-robin Grouping Method, other things that they have do

[2019-02-08 02:10] aubreypc commented on #130
@chenc-allegheny I like those ideas! The product manager will definitely have to work closely with the team leaders in order to track the progress of the sprint. Another feature which might help with this is [GitHub project boards](https://help.github.com/articles/about-project-boards/), giving a general overview of which issues and features are being worked on and how much work is remaining.  The

[2019-02-08 16:27] paladp commented on #128
I think this is a great idea. I think that having them for function definitions to start with is good, and we can see if it's needed for variables as well. Should my team put this as a rule/principle in the complexity standards?

[2019-02-08 17:09] aubreypc commented on #128
@paladp That sounds good to me!

[2019-02-08 17:55] aubreypc commented on #129
Thank you @paladp and @chenc-allegheny for your suggestions and feedback! Here is a new draft of the template with the questions moved into a Google Form and some more quantifiable questions included.

Does this look ready to send out? Hopefully if we send the emails this afternoon we will have some responses by Tuesday's lab session.

https://docs.google.com/forms/d/e/1FAIpQLSf01M6TVX-HchKnFUZUbQ

[2019-02-08 18:31] paladp commented on #129
Looks good to me! I think the additional questions are going to be very useful.

[2019-02-08 21:12] gkapfham commented on #127
Hi @Lancasterwu, can you create a template? If you start with something and then have everyone review it, then we can perhaps finish this task before the repository sees a lot of PRs next week. Thanks!

[2019-02-08 21:29] gkapfham commented on #101
Yes, @huangs1, correct, these issues go together. Once that issue is resolved, then we will need to leverage the fact that the reporting works and then create the badges. There is already an example of this working:

https://github.com/GatorEducator/gatorgrader

[2019-02-08 21:31] gkapfham commented on #130
This ideas sound great. We need to decide if this is gaining enough traction among team members that you want to adopt it going forward next week. I also agree that the project boards is a good idea. While we don't want to over-complicate our process, the team is pretty big and we need to get a clear sense of who is working on what and when they can finish those tasks.

[2019-02-08 21:34] gkapfham commented on #128
Hi @aubreypc and @paladp, thanks for starting this discussion. I'm wondering whether it might be a good idea to pick a module of the system that is non-obvious and/or likely to be heavily modified and invest the time of adding type hints there? My reason for suggesting this is that type hints my not be as helpful and thus a time sink in code that we do not plan to modify during this project. But,

[2019-02-08 21:40] gkapfham commented on #129
I think that the completion of this survey is a great idea. Many thanks to all of the individuals who participated in the discussion of this issue! Can you please keep us updated once you have results? We should try to use the results from this survey to make decisions about how we will implement features and what features we should implement. Overall, great! :smile:

[2019-02-09 16:26] aubreypc commented on #130
@gkapfham Thanks for your feedback! I think I will go ahead and create a configure a project board so that we can have that before the next lab session. I posted a request for comments in the Slack channel, but didn't receive many -- do you think it would be best to just take a poll on whether to implement Scrum or not?

As for your comment about over-complicating our process, that is definitely a

[2019-02-11 01:37] gkapfham commented on #130
HI @aubreypc, if you do not get feedback from developers about what step is the best, perhaps you can request feedback in-person on Monday. If there is no consensus after that point, then the team leaders will need to decide and then move forward to the completion of requirements elicitation and analysis and then design and implementation.

[2019-02-11 19:02] quigley-c commented on #130
I like most of the ideas expressed in this proposition, however I don't know if sprint goals need to be slated quite as short as they are. I think some of us are too busy to be able to implement features in a single day, or less depending on the time of the next class session (I'm thinking of normal Wed - Fri being one day in-between, with lab Tues shortening the time further). Perhaps we could ha

[2019-02-11 19:15] aubreypc commented on #130
@quigley-c The sprint goals would be from lab to lab, the daily meetings are just to gauge progress and make sure things are on track

[2019-02-11 20:45] huangs1 commented on #101
@gkapfham I believe we need permission to actually be able to run codecov for this repository. I have requested access already, but I just wanted confirm that that was the way to go with this issue.

[2019-02-11 23:23] enpuyou opened #131 "Add Integration with Sakai"
Since GatorGrouper will be used by instructors and professors, it will be a good idea if we can add integration with Sakai.

[2019-02-11 23:56] Lancasterwu commented on #131
Hi @enpuyou, I think it is an excellent suggestion! However, I am wondering if it is too complicated for us to integrate. We probably should reach this person (hmccull@allegheny.edu) to see if there is some way for us to add features to Sakai.

[2019-02-12 01:00] enpuyou commented on #131
Thank you @Lancasterwu, it is also chenc-allegheny's(chenc@allegheny.edu) idea. It would be great if you can also assign this issue to her. Somehow I can't @ her in this comment. Overall, that's a great idea.

[2019-02-12 01:07] Lancasterwu commented on #131
@enpuyou Unfortunately, I can only assign the issue to people who post the issue, collaborators and the individual from the GatorEducator organization. Sorry about that.

[2019-02-12 04:39] Michionlion commented on #131
It seems she is not a part of the organization. Should I invite @chenc-allegheny?

[2019-02-12 05:00] enpuyou commented on #131
Yes! She is also part of the class! @Michionlion. Thank you!

[2019-02-12 05:40] chenc-allegheny commented on #131
Thank you~ @Michionlion I guess that is probably because I have two school emails(cchen & chenc)....I think on the official student roster, I am cchen@allegheny.edu, at least, that is what I use to login to my WebAdvisor, but I use chenc more often. I also use chenc for my github account. It's complicated.

[2019-02-12 15:47] gkapfham commented on #131
Hello @enpuyou, I don't think that this should be an initial goal for our team.

[2019-02-12 17:58] aubreypc commented on #129
Several professors have responded to our survey so far! [Here's a spreadsheet containing the responses](https://docs.google.com/spreadsheets/d/1Q9jI-ik-eF3n9k-rg53qvdX0YXR7pZjFhLH5f_Mxf0c/edit?usp=sharing). A good next step might be to use these responses in order to write [user stories](https://www.mountaingoatsoftware.com/agile/user-stories) --- I was thinking we could start collecting those in

[2019-02-12 20:34] reibelj commented on #105
[code]

[2019-02-12 20:37] reibelj commented on #105
[code]

There are several issues with the program that prevent it from running. This makes the issue of testing very difficult until these errors are resolved.
@Lancasterwu

[2019-02-12 20:37] #130 closed

[2019-02-12 21:08] shafferz commented on #109
Looking into integration with GitHub Classroom specifically, I found [this issue](https://github.com/education/classroom/issues/245) in which John Britton, developer at GitHub, says:

As this is still true, there seems there is no way to update the GatorGrouper tool with this function.

[2019-02-12 21:15] barrezuetai opened #133 "Design A Database schema for web app implementation"
We've talked about creating a Web App for Gator Grouper so that it's more accessible. We will design a database schema that will store the information needed to create groups and store that information for future you.

[2019-02-12 22:52] Lancasterwu commented on #127
Finished by https://github.com/Lancasterwu/gatorgrouper/pull/13
Will request for review after https://github.com/GatorEducator/gatorgrouper/pull/123 is merged to the main.

[2019-02-12 22:56] Lancasterwu commented on #125
This issue was handled by @thomad74(Dillon) and @wattob(Ben).
Finished in https://github.com/Lancasterwu/gatorgrouper/pull/14
Will request for review after https://github.com/GatorEducator/gatorgrouper/pull/123 is merged to the main.

[2019-02-12 23:21] Lancasterwu commented on #115
This is finished in https://github.com/GatorEducator/gatorgrouper/pull/123 by the whole Team "Lancaster" with members @reibelj @thomad74 @wattob @ALEXANDERB82 @everitt-andrew @Lancasterwu . The pull request is https://github.com/GatorEducator/gatorgrouper/pull/123.

[2019-02-13 17:29] Michionlion commented on #115
We should keep in mind that this tool may be used by people in a Windows environment, and so `pyenv` or similar tools are not supported. Does your fix in #123 support this? If not, perhaps a separate issue can be opened to address that. In the meantime, since this issue is resolved, I'll close this.

[2019-02-13 17:29] #115 closed

[2019-02-13 17:34] Michionlion commented on #109
It should be noted that the passage quoted says nothing about an API for creating teams in Github itself -- just that they would still need to be used manually in Github Classroom (by, for instance, the student selecting their team). So this issue actually does need more discussion unless there are other reasons for not pursuing it.

[2019-02-13 17:57] aubreypc opened #134 "Install and Configure Django"
We will be moving ahead with Issue #94 and developing a web application around the GatorGrouper functionality. As such, we will need to install and configure a web framework -- the consensus at our meeting yesterday seemed to be to use [Django](https://www.djangoproject.com/start/). When installing, it will be important to reference the proposed project structure from #96.

[2019-02-13 18:08] aubreypc commented on #133
Thanks for opening this issue! We will likely need at least the following models:

- User
  - could be a professor a student --- best to keep it general to avoid any potential issues with users who are both students and professors in different courses
- Course / Organization
- Assignment / Project
- Group

We will need to figure out the best way to incorporate the existing grouping algorithms. Sho

[2019-02-13 18:11] aubreypc commented on #96
Here's an updated suggestion for the structure now that we are going ahead with Django -- how does this look, @quigley-c?

- tests/
- src/
  - models/
    - group/
      - group.py
      - modules for the grouping algorithms (or do these belong in controllers?)
    - user.py
    - course.py
    - assignment.py
  - views/
  - controllers/
  - static/
    - css/
    - js/
    - img/
  - templates/
-

[2019-02-13 18:22] aubreypc opened #135 "Install a CSS Framework as a Starting Point for Front-end Design"
Since we are moving ahead with #94, we should begin working on the front-end design of our web application so that we can continually iterate on it in order to address usability concerns. In order to move quickly, we should use a CSS framework as a starting point in order to allow us to focus on the layout, interface, and more general principles of design. I would suggest using [Bootstrap](https:/

[2019-02-13 18:50] Lancasterwu commented on #115
@Michionlion Hi, I think we suggested people to upgrade the python version by downloading from the official website. If they can not, they can try use `pyenv`. We also mentioned in different development environment the situation may be different such as the configuration files. I think it is probably the solution for that. What is your opinion?

[2019-02-13 18:51] ilikerustoo commented on #124
While working on issue #103, I have configured Travis CI to use pylint and and flake8. I did this as the tools could not be implemented without converting the project to `pipenv` which is what I worked on and adding the tools was a simple job. @Lancasterwu If there are any other tools, let me know.

[2019-02-13 19:07] ilikerustoo commented on #95
I have done part the pipenv implementation and will do documentation soon with other members

[2019-02-13 19:10] thomad74 commented on #99
@huangs1 Have you completed the second half of this Issue regarding CodeCov.io? If so, @wattob and I are going to begin working on reporting the coverage through Pytest, and completing this task before the next laboratory session at the latest.

[2019-02-13 19:13] huangs1 commented on #99
@thomad74 Yes, I believe that my team has already finished the second half of this issue regarding CodeCov.io but the implementation has not yet been polished yet.

[2019-02-13 19:17] quigley-c commented on #96
Update on the structure after our discussion:
- tests/
- src/
    - models/
        - user.py
        - course.py
        - assignment.py
    - views/
    - controllers/
    - static/
        - css/
        - js/
        - img/
    - templates/
- manage.py
- gatorgrouper.py

[2019-02-13 19:18] leonardoz15 commented on #97
Should the issue about utilizing a JSON input rather than CSV belong here or should that be its own issue? I figured both will require code changes but could be tackled at the same time.

[2019-02-13 19:28] thomad74 commented on #99
@huangs1 Thank you for your response, we can reconvene later this week when both steps are completed and work on implementation, if you and your group would like.

[2019-02-13 21:23] paladp commented on #97
I was able to remove the google sheets integration on my own fork and will be setting up a pull request on @quigley-c fork to implement the changes. In my implementation I found that in ``read_student_file.py``, we use ```value == "True"```, which during my testing caused logical errors because my CSV file had "TRUE" instead. I changed it to ```value.lower() == "true"``` in an effort to address an

[2019-02-13 21:30] aubreypc commented on #124
@ilikerustoo It might be a good idea to add black as well -- looks like it has a ``--check`` flag which just causes it to verify that the files do not need to be reformatted.

[2019-02-13 23:35] ilikerustoo commented on #105
I can help with this. @Lancasterwu  @reibelj do you have anything so far?

[2019-02-13 23:36] ilikerustoo commented on #100
This has been done by @huangs1

[2019-02-13 23:37] #100 closed

[2019-02-13 23:38] ilikerustoo commented on #99
I have successfully completed this but will review before confirming completely.

[2019-02-13 23:40] ilikerustoo commented on #103
I have successfully integrated Pipenv in Travis CI

[2019-02-13 23:48] ilikerustoo commented on #104
@aubreypc I have run black on all the files and this seems to cause pylint errors which I will look into. Otherwise I have manually fixed every pylint and flake8 issue in all the `.py` files in and outside the `tests` folder. I needed to do this to pass Travis when implementing linting tools and conversion to pipenv in the travis.yml file

[2019-02-13 23:54] reibelj commented on #105
I am still looking into this issue. @Lancasterwu  and I will work on it tomorrow during our meeting. Let us know if you make any further progress on this issue.

[2019-02-13 23:55] Lancasterwu commented on #105
Hi, @ilikerustoo Thanks for asking. We have tested `pyenv` with python version 3.6.8 and 3.7.2. We also tried to run with Python 2.7, and of course, it did not work. Instead of testing it with Travis CI, we were manually testing it with `pyenv` to download different versions of Python.
Do you want to take care of the `Tox` package? https://tox.readthedocs.io/en/latest/
When we meet tomorrow, we ca

[2019-02-14 02:52] duarte2025 commented on #133
Which database will be used?

[2019-02-14 03:41] aubreypc commented on #133
@duarte2025 IMO, some kind of SQL would probably be best. I believe Django supports PostgreSQL, MySQL, and SQLite out of the box -- PostgreSQL or MySQL would probably be better to use when we eventually deploy the site, but SQLite would likely be more convenient while developing.

[2019-02-14 19:52] Michionlion commented on #115
@Lancasterwu you could explicitly talk about the difference in Windows installation. However, if you feel like you've covered everything already, then that should be fine.

[2019-02-14 19:58] paladp commented on #108
@gkapfham @aubreypc  Given that we are moving to a website, is it still necessary to add this documentation about the console output in the README?

[2019-02-14 21:00] aubreypc commented on #108
@paladp Personally, my instinct is that it will not be necessary in the README, but we may want to eventually include some kind of explanation of the different grouping methods on the site (in an FAQ / help page?).

[2019-02-14 21:04] paladp commented on #108
@aubreypc What I can do as a compromise is in the README expand on the section talking about use cases for the two different methods, and hold off on putting examples of output since the web output will be different. That way we'll have the information available for us if we want to port it to the website somewhere. Does that make sense?

[2019-02-14 21:15] aubreypc commented on #108
@paladp That sounds good!

[2019-02-14 22:12] ilikerustoo commented on #105
[code]

Add to Travis.yml

[2019-02-14 22:25] ilikerustoo opened #137 "Low code coverage with Codecov.io - tests needed"
Right now using `CodeCov` and the following command `pipenv run pytest -x -s --cov-config pytest.cov --cov-report term-missing --cov` we are getting a total coverage of 58%.  Previously we had low coverage due the incorrect configuration of `coverall` that checked coverage on the tests themselves this providing a falsely high code coverage.

We need more test cases that cover the rest of the code

[2019-02-14 22:34] wattob opened #138 "Add a license file for the project"
Hello, we currently do not have a license for the GatorGrouper project. Do any of you have a preference for which license we should select for this project? My suggestion is either the MIT License or the GNU General Public License. After the decision is made I can add it in my next Pull Request.

[2019-02-14 22:39] Lancasterwu commented on #137
I am going to take a look on display.py

[2019-02-14 22:40] everitt-andrew commented on #137
I don't think we should work too much on coverage for spreadsheet.py as I am unsure of how different the file will be once we start using CSV files instead of Google Sheets integration.

[2019-02-14 22:40] reibelj commented on #137
I will look into read_student_file.py 15-29. @GatorEducator/team-lancaster

[2019-02-14 22:41] thomad74 commented on #137
Okay, I will take a look at parse_arguments.py 94, 103, 116-128.

[2019-02-14 22:44] wattob commented on #137
Hello @Lancasterwu, thank you for adding me to this issue. I will take a look at group_random.py 46-69.

[2019-02-14 22:45] Lancasterwu commented on #106
This issue will be closed because the class decided to use json instead of csv.

[2019-02-14 22:47] thomad74 commented on #138
What a great idea! I just created a LICENSE.md file for the GatorGrader tool in another class that contained a GNU General Public License. If that is the license that is decided on by @gkapfham and @Michionlion , I would be happy to assist with this issue!

[2019-02-14 22:48] ALEXANDERB82 commented on #137
Alright @everitt-andrew and I will look into group_rrobin.py  54-87. @GatorEducator/team-lancaster

[2019-02-14 22:48] Lancasterwu commented on #105
@ilikerustoo Thanks

[2019-02-14 22:53] everitt-andrew commented on #137
In case anybody is having difficulties locating their test, those for group_random, group_rrobin, and gatorgrouper are found in the test_group_method.py file.

[2019-02-14 22:56] libailong commented on #112
https://hypothesis.readthedocs.io/en/latest/
This website helps a lot to get a general understanding of Hypothesis.
https://hypothesis.readthedocs.io/en/latest/data.html
This tells us what we can generate from the Hypothesis. I am working on the test for text_display.py and try to figure out what type of input is for display and how to generate that? Do you guys have any ideas?

[2019-02-14 23:05] Lancasterwu commented on #106
Never mind, we still need a sample CSV to run the program, in order to resolve the issue like https://github.com/GatorEducator/gatorgrouper/issues/105 Also, the error message like
[code]
Is also probably due to the CSV.

[2019-02-14 23:27] Lancasterwu commented on #106
We can actually run the program without `create_csv`.

[2019-02-14 23:27] #106 closed

[2019-02-14 23:31] reibelj opened #139 "Edit the README to better explain how to run the program"
My team experimented with running the program to test features. As a result, we felt that the instructions in the README were confusing at some points. To fix this we will adjust thee instructions to increase the clarity and allow other users to simply run the program.

[2019-02-14 23:46] reibelj commented on #139
These will be a few minor changes. Specifically in the first section we had trouble understanding the phrase " Using the defaults of storing your student identifiers in the file called students.csv and creating groups of two students means that you will run GatorGrouper with this command:".

[2019-02-14 23:47] ilikerustoo commented on #105
Currently I have 3 instances of python up and working. `3.4`, `3.5`, and `3.6`.

[2019-02-14 23:48] #131 closed

[2019-02-15 01:02] ilikerustoo commented on #110
It seems running `xdist` with `pip` works perfectly but does not run the tests when used with `pipenv` so far. I have tried on `Travis CI`, @Michionlion, and my own setup so far.

Also when running on pip here are my results with using `xdist` and not using it

============================= test session starts ==============================
platform linux -- Python 3.6.7, pytest-4.2.1, py-1.7.0, p

[2019-02-15 19:12] barrezuetai commented on #96
What you guys currently have looks good, except the src/ and test/ probably need to be in the django directory.

This is the current Django directory structure
Root/
      -gatorgrouper/
              -migrations/
              -templates/
              -static/
              -admin.py
              -apps.py
              -models.py
              -tests.py
              -urls.py
              -vie

[2019-02-18 02:57] aubreypc commented on #135
@ElisiaW and @chenc-allegheny have submitted a PR to address this issue: #143

[2019-02-18 03:12] Alex-Yarkosky commented on #107
In order to implement the ability to add a way for conflicts to between students to factored into the algorithms, we would like to include an attribute in the database for each student that is their conflicts. @barrezuetai please let us know whether or not you are willing to include this data within the database you are working to create.

[2019-02-18 15:37] aubreypc opened #144 "Configure Django to automatically compile SASS into CSS"
If we ever want to modify the Bootstrap CSS, we will find it much less repetitive to instead modify the SASS files (https://sass-lang.com) which generate this CSS. In order to simplify this workflow, ideally there would be a way to use SASS directly in the Django templates. (This might help? https://github.com/jrief/django-sass-processor)

[2019-02-18 15:46] aubreypc opened #145 "Allow users to log in with Google / GitHub"
In order to simplify the login process, we should use OAuth to allow users to sign in with their existing Google or GitHub accounts.

This blog post might help: https://medium.com/trabe/oauth-authentication-in-django-with-social-auth-c67a002479c1

Additionally, we could allow professors to configure their courses to add a college domain name, so that users who have an email with that domain attach

[2019-02-18 15:48] aubreypc opened #146 "Store secret keys securely"
Before eventually deploying our web application, we will want to find a way to keep any secret keys out of the repository -- perhaps with environment variables? -- so that nothing sensitive becomes publicly visible on GitHub.

[2019-02-18 18:43] aubreypc opened #147 "Design & implement a JSON API for creating classes, assignments, and groups"
In addition to the server-side rendering of templates, we should expose our data over a JSON API. In the future, this could allow for straightforward compatibility with an interactive Vue.js frontend web app and/or Vue Native phone app.

@barrezuetai suggested that we can use [this library](https://www.django-rest-framework.org/api-guide/serializers/) to help serialize our database models for use

[2019-02-18 19:34] aubreypc commented on #138
Good suggestion! [This website](https://choosealicense.com/licenses/) may be helpful, as it offers concise summaries of the terms of different software licenses.

[2019-02-18 19:40] aubreypc opened #148 "Write documentation for running the Django application"
To follow up on today's class discussion, we should try to make sure that everyone in the class is able to run our application and its test suite. In particular, it would be useful to have some concise documentation in our project which explains how to start the Django dev server and perform any common setup tasks. Ideally, this documentation could also include some information about how to config

[2019-02-18 19:50] mmarconi commented on #112
https://scipy-lectures.org/packages/statistics/index.html#id13
Here is another link with some info about Hypothesis testing in Python

[2019-02-19 02:56] Lancasterwu commented on #137
[code]

The line 24-27 is the function which provides the welcome message:

[code]

I think it is unnessesary to report in the coverage test. However, I put the following code to get the 100% coverage rate in `display.py`:

[code]

There is another error in @huangs1's repository. When I cloned it and try to run the coverage test locally, the `pytest-cov` told me there is an asserstion error in `te

[2019-02-19 03:18] #133 closed

[2019-02-19 03:19] #134 closed

[2019-02-19 07:45] aubreypc commented on #137
@Lancasterwu If I'm reading the build log correctly, it looks like the pylint error is:
[code]
I believe it's just a warning that since there's only ever one instance of the None object, but objects which are not None can still equal None, it is best to check that the expressions are identical in test cases:

[code]

[2019-02-19 08:33] ilikerustoo commented on #124
@aubreypc I already have that configuration in our fork so we are good

[2019-02-19 08:35] ilikerustoo commented on #105
This has been through Travis instead of to or pyenv

[2019-02-19 08:40] ilikerustoo commented on #137
@lancaster let's meet to discuss the issue

[2019-02-19 14:38] Lancasterwu commented on #137
@ilikerustoo Sure.

[2019-02-19 14:40] reibelj commented on #127
This is being finished up in PR #149. I will now close this issue

[2019-02-19 14:43] Lancasterwu commented on #127
Hi @reibelj, you actually don’t need to close this. Since I used `fixes #issuenumber` in the description of that pull request. This issue will be automatically closed then that pull request is merged to the main.

[2019-02-19 20:35] huangs1 commented on #137
@Lancasterwu In case your team doesn't see this, please tell your team. I just spoke with our project manager @aubreypc and I was told that we should split up the team like this: one group of hypothesis testers, one group of regular testers, and one group that writes the doc string that explains the test cases. This way may be a bit inefficient but this will allow everyone to help each other and u

[2019-02-19 20:38] baldeosinghm commented on #137
Currently looking into gatorgrouper.py lines 25-82

[2019-02-19 20:43] quigley-c commented on #96
Merged #151

[2019-02-19 20:43] #96 closed

[2019-02-19 20:45] libailong commented on #137
I am currently working on group_method with hypothesis tests.

[2019-02-19 20:45] mmarconi commented on #137
Currently working on test_group_size with Hypothesis tests.

[2019-02-19 20:58] yeej2 commented on #137
Working with Matt on gatorgrouper.py lines 25-82

[2019-02-20 19:00] Lancasterwu commented on #138
https://choosealicense.com/
The license probably gonna be GNU General Public License v3.0.
We are going to make a PR for this and write description of why we choose this license.

[2019-02-22 03:33] ilikerustoo commented on #117
@huangs1 After we document and work through the details of how `GatorGrouper` works, I may be able to tackle this issue.

[2019-02-22 05:08] ilikerustoo commented on #120
I can help with this. I used `mutmut` to generate this:

[code]

I have yet to dig deeper for a better configuration and more.

[2019-02-22 06:47] ilikerustoo commented on #104
I have fixed more `pylint` issues after the restructure that are waiting to be merged from my branch `bugfix/ fixing-bugs-in-develop`. I have add `black --check` to Travis too.

[2019-02-22 07:54] ilikerustoo commented on #146
I believe I figured out the way to do this. Please see my branch [hide-secret-key](https://github.com/GatorEducator/gatorgrouper/tree/bugfix/hide-secret-key)

[2019-02-22 19:06] aubreypc commented on #120
@ilikerustoo Very cool, thanks for looking into this!

[2019-02-22 19:17] #146 closed

[2019-02-22 19:20] szklenskij commented on #146
@ilikerustoo fixed this issued in pull request `Bugfix/fixing bugs in develop` #159 which I approved for merge

[2019-02-22 19:25] aubreypc opened #160 "Write Django views to create groups & render templates in response to HTTP requests"
Now that we have some work done on our database models and our templates, we should write views to render these templates with the correct data filled in when the application receives HTTP requests. [This tutorial in the Django docs](https://docs.djangoproject.com/en/2.1/intro/tutorial03/) might be helpful to look at.

[2019-02-22 19:26] aubreypc opened #161 "Write test cases for Django models and views"
As we begin to expand the functionality of our Django application, we should look into best practices for testing models and views.

[2019-02-22 19:30] quigley-c commented on #145
What kind of functionality did you want from this feature? What do we need to implement to this end? For now should we just set up the basic login scheme?

[2019-02-23 19:09] aubreypc commented on #145
@quigley-c Here's some more info about the specific tasks I had in mind:

- Finding and installing a Django library which allows for OAuth / OpenID authentication
- Performing any necessary configuration to get this library to work with Google / GitHub (getting tokens, etc)
- Writing some kind of User database model which associates an authenticated Google / GitHub account with the existing Profes

[2019-02-26 18:11] baldeosinghm commented on #113
Mo, Lancaster, and I will start working on refactoring the code

[2019-02-26 19:12] paladp opened #162 "Update Installation and and Initial Setup Sections of README"
Currently the installation and initial setup sections of the README are out of date and refer to `pip`, `gspread`, etc, which are no longer used by GatorGrouper. We should update the README to accurately reflect the current installation and initial setup steps.

[2019-02-26 19:24] #94 closed

[2019-02-26 19:24] #97 closed

[2019-02-26 19:43] paladp opened #163 "Read from a JSON file instead of a CSV"
Currently GatorGrouper reads from a CSV file, for the purposes of future proofing we should change the program to read from a JSON file instead. This should be relatively easy, since the changes needed should be limited to the `read_student_file.py`

[2019-02-26 19:49] #125 closed

[2019-02-26 19:49] #127 closed

[2019-02-26 20:00] leonardoz15 commented on #120
So I added some more configuration `setup.cfg` and managed to get a different output:

[code]

I'm planning on adding `mutmut` to the pipfile so it can be installed with the rest of the dependencies. In addition, me and @quigley-c were looking into a way to configure `mutmut` to be the default test suite that runs when running `pipenv run pytest`. If there is an easy way to do this please let me k

[2019-02-26 20:55] baldeosinghm commented on #113
Working on changes to remove hard coding in `quickfix/constant-strings`

[2019-02-26 22:40] paladp opened #179 "Fix Import Paths for Python Files in Util Folder"
The paths used for the imports in `GatorGrouper.py` as well as other python files like `group_random.py`, `group_rrobin.py`, `parse_arguments.py`, etc. are incorrect and produced errors in pylint` and TravisCI. These errors are related to the format of the `import` statements and prevent GatorGrouper from running correctly.

[2019-02-27 01:55] Lancasterwu opened #183 "The issue Template is Not Working correctly"
Related to [Issue#125](https://github.com/GatorEducator/gatorgrouper/issues/125) which supposed to be solved by [PR#149](https://github.com/GatorEducator/gatorgrouper/pull/149).
The Issue template is now not working.
I believe it should be in the `doc` folder which is similar to the Pull Request Template, and this may be the reason which lowered the coverage in `codecov.io`

[2019-02-27 02:13] Lancasterwu commented on #118
Hi @griffinh1 @barrezuetai, I am just wondering if this issue has been solved or not. If not, it is probably a good idea to pass to @paladp. He is working on [Issue#139](https://github.com/GatorEducator/gatorgrouper/issues/139) and [Issue#162](https://github.com/GatorEducator/gatorgrouper/issues/162) and both of these two issues are related to `README.md` so he can just take care of them.

[2019-02-27 02:15] Lancasterwu commented on #99
This issue has been resolved.

[2019-02-27 02:15] #99 closed

[2019-02-27 02:16] Lancasterwu commented on #95
This issue has been resolved.

[2019-02-27 02:16] #95 closed

[2019-02-27 02:16] Lancasterwu commented on #101
This issue has been resolved.

[2019-02-27 02:16] #101 closed

[2019-02-27 02:17] Lancasterwu commented on #105
This issue has been resolved.

[2019-02-27 02:17] #105 closed

[2019-02-27 02:17] Lancasterwu commented on #103
This issue has been resolved.

[2019-02-27 02:17] #103 closed

[2019-02-27 02:18] Lancasterwu commented on #104
This issue has been resolved.

[2019-02-27 02:18] #104 closed

[2019-02-27 02:19] Lancasterwu commented on #124
This issue has been resolved.

[2019-02-27 02:19] #124 closed

[2019-02-27 03:50] barrezuetai commented on #118
@Lancasterwu: Our team is finishing up the Django documentation right now and should be able to be submitted by tomorrow afternoon.

[2019-02-27 04:06] Lancasterwu opened #184 "Debugging and Refactoring the Current Python Code"
With PR #180, we can finally run the restructured `gatorgrouper`.

However, there are still some bugs and bad designed python code.

The program was only refactored in this structure, some specific functions still looks terrible.

I want to assign @GatorEducator/team-lancaster and @GatorEducator/team-spencer (except @huangs1 and @ilikerustoo) to go over all code in details to improve them.

"The r

[2019-02-27 04:33] Lancasterwu commented on #118
@barrezuetai I thought this issue is not directly related to the Django feature. Shouldn't the output we put in `README.md` be the output in the terminal window? Please let me know if I am wrong😂.  Thx

[2019-02-27 04:44] barrezuetai commented on #118
They're related. In the Django documentation we talk about how to set up the environment and which commands are used to run/test django

[2019-02-27 07:01] ilikerustoo commented on #184
Could to be more specific in examples of what would need improving? This is probably low priority for now since we have the application finally up and running when PR #180 merges.

[2019-02-27 17:17] Michionlion opened #188 "Reading a CSV or other student file does not have a good failure case"
In [`read_student_file.py#12`](https://github.com/GatorEducator/gatorgrouper/blob/master/gatorgrouper/utils/read_student_file.py#L12), a string is returned as the failure case. Instead, an exception or some other failure handling condition should be used -- this can cause weird errors when the file given does not exist, because no error messages are printed, and the method simply returns the wrong

[2019-02-27 17:24] baldeosinghm commented on #184
I agree with @ilikerustoo.  What files do you think are in need of urgent refactoring?

[2019-02-27 17:41] Lancasterwu commented on #184
I will explain more details when we meet, and I am also going to add more explanation under this issue later today.

[2019-02-27 18:37] thomad74 commented on #183
On it!

[2019-02-27 18:37] #179 closed

[2019-02-27 18:43] everitt-andrew commented on #184
I will look at potential refactoring that can be done with `group_rrobin.py`

[2019-02-27 18:43] wattob commented on #184
I will take a look at the functions within `group_random.py`

[2019-02-27 18:44] reibelj commented on #184
I will look into 'parse_arguments.py'

[2019-02-27 18:44] ilikerustoo commented on #144
Me and @paladp I have something setup in our `feature/compile-sass-to-css` branch. We're still thinking about how we want folder/directories setup for `sass` and `css` and want to hold up until we have something to convert by you guys? @aubreypc

[2019-02-27 18:46] Michionlion commented on #144
It should be noted here that you should never need to edit bootstrap files directly -- you can simply override that changes that they make with your own.

[2019-02-27 18:47] ALEXANDERB82 commented on #184
I will look at `group_scoring.py`

[2019-02-27 18:52] thomad74 commented on #183
I just renamed the issue template to the same conventions as the pull request template, and moved it to the same folder to try and increase code coverage. I created a pull request on the master branch that needs approval from 5 people who I assigned as reviewers on the PR. https://github.com/GatorEducator/gatorgrouper/pull/189

[2019-02-27 18:53] thomad74 commented on #184
I will look at `read_student_file.py`

[2019-02-27 19:37] Lancasterwu commented on #183
Thanks! @thomad74

[2019-02-27 20:55] aubreypc opened #190 "Represent grouping as a Graph Partition Problem and implement a Kernighan-Lin heuristic"
## Background Info

In the **graph partition problem**, we must partition the vertex set _V_ of a graph into _k_ subsets such that that the edge-cut (total weight of all edges which go between different subsets) is minimized. In our case, each vertex in the graph would represent a particular student, and for any two vertices _u_ and _v_ we create an edge _e_ between them if and only if those two s

[2019-02-27 21:10] Alex-Yarkosky commented on #190
It should be kept in mind that if non-negotiable conflicts are included by having situations where there are not edges between two individuals, it should first be checked that groups can be made to the user's specifications before any algorithm is utilized. If they cannot be made, the user should be asked to remove some or at least one of theses conflicts and could instead assign a low compatabili

[2019-02-27 21:58] Michionlion commented on #190
Additionally, there is the problem of calculating these compatibility score -- if they are given by the user, the user must do a difficult calculation, and it is nearly impossible to get a compatibility score from some given characteristics of skill, since the compatibility score is dependent on the entire group, not just two students. I think this approach may be fundamentally limited by these pr

[2019-02-27 22:54] #113 closed

[2019-02-28 04:03] aubreypc commented on #190
@Alex-Yarkosky Good point! To ensure a grouping exists, I think it should suffice to check if each vertex _u_ in the graph has degree(_u_) >= _k_, where _k_ is the number of students per group, but I'm not certain about this -- would need to prove / find a proof.

@Michionlion Even if the compatibility scores are local to each pair of students, Kernighan-Lin should still result in a grouping which

[2019-02-28 04:07] Michionlion commented on #190
@aubreypc the problem is actually generating those compatibility scores, however. It's very difficult to imagine how a professor might choose them, and they are not really possible to calculate from other information easily. I may not have your insight, however.

[2019-02-28 04:16] Alex-Yarkosky commented on #190
@Michionlion @aubrey-pc I think the best way to think about compatibility scores, assuming higher is better, is that everyone starts off at 5, assuming a 1 to 5 scale, meaning that the professor would have no reason to believe those individuals would have any problem working together. If the professor had any reason to believe students would have a problem or difficulty working together, then they

[2019-02-28 06:08] aubreypc commented on #190
@Michionlion Yeah, it's definitely hard to find good measures of compatibility. A couple ideas:

- I like @Alex-Yarkosky's suggestion. We could also give students a way to optionally self-report their perceived compatibility with other students on that same scale, since many professors may not be opinionated about the weights associated with particular pairs. In any case, this is a good intuitive

[2019-03-01 05:57] Lancasterwu opened #194 "The `parse_argument` Should not Handle Group Number 0 and 1"
Based on Issue https://github.com/GatorEducator/gatorgrouper/issues/184, I found that:

The function  `parse_argument.py` has a bug in `check_valid_num_group` which allows the program to handle input `--num-group 0` and `--num-group 1`, It should not be able to.

[code]

This is a bug because spliting the class to 0 group or 1 group does not make any sense. Because of this, ` test_check_number_gro

[2019-03-01 18:42] baldeosinghm commented on #184
I will handle `gatorgrouper.py`

[2019-03-01 19:13] #137 closed

[2019-03-01 19:30] #183 closed

[2019-03-01 20:20] yeej2 opened #197 "Rebalance.py is not used"
# Description of the Issue

Based on #184 I found that `rebalance.py` found in the `utils` folder is not currently called anywhere. If we do not need this, I would suggest deleting it to avoid confusion.

### Assigned Developers

@Michionlion @huangs1 @Lancasterwu

[2019-03-01 20:23] baldeosinghm commented on #194
I will try to fix this bug

[2019-03-03 19:21] #98 closed

[2019-03-03 19:25] huangs1 commented on #197
@yeej2 I don't see `rebalance.py` called anywhere either. Also, there are no test cases for that file. Furthermore, when I run `pipenv run pytest -x -s --cov-config pytest.cov --cov-report term-missing --cov`, it does not show that `rebalance.py` needs to be tested.

[2019-03-04 01:26] #114 closed

[2019-03-04 01:30] Lancasterwu opened #200 "Remove pytest-clarity"
# Description of the Issue

## Add Detailed Comment with More Information

According to [Issue#7 Conflict with pytest-xdist](https://github.com/darrenburns/pytest-clarity/issues/7) and [Issue#8 clarity changes verbosity](https://github.com/darrenburns/pytest-clarity/issues/8), `pytest-clarity` causes extremely verbose output even in the passing test, and if we want to use `pytest-xdist` if will cr

[2019-03-04 01:59] Lancasterwu opened #201 "The GatorGrouper Logo isn't Displaying in FireFox Browser"
# Description of the Issue

## Add Detailed Comment with More Information

After [PR#155 Project Summary and Logo](https://github.com/GatorEducator/gatorgrouper/pull/155) is merged to the master, the logo isn't displaying in the `README.md` with the FireFox browser. However, it works perfectly with Google Chrome. I'm wondering if this is the issue due to the size of the logo.

## Steps to Reproduc

[2019-03-04 17:51] reibelj commented on #194
This bug should be solved. I modified the if condition in order to account for the group sizes of 0 and 1. I also modified the respective tests to make sure they properly hand these sizes. This will be merged with the refactoring and debgging of parse_arguments.py Issue #184

[2019-03-04 18:33] reibelj opened #202 "Refactoring parse_arguments.py to remove exit statements"
# Description of the Issue
Based on [Issue#184](https://github.com/GatorEducator/gatorgrouper/issues/184)
There are 2 exit statements in parse_arguments.py that are difficult to test. Refactoring may ease the testing process and increase the efficiency.

## Add Detailed Comment with More Information
Currently there are 2 exit statements on lines 93, and 104. These statements are difficult to test

[2019-03-04 20:45] baldeosinghm commented on #184
I recently spoke to Saejin, and `gatorgrouper.py` has no real need for refactoring.  The code works and there is nothing to really attend to.

[2019-03-04 22:08] reibelj opened #204 "Default csv file does not exist"
# Description of the Issue

## Add Detailed Comment with More Information
The defaults.py file sets DEFAULT_CSVFILE = "students.csv" however, that file still does not exist and the program will not properly function without it.

### Assigned Developers
@Lancasterwu

[2019-03-04 22:12] thomad74 commented on #184
@ilikerustoo have you done work on the `read_student_file.py` and if so, have you committed this work so I can continue to add to it?

[2019-03-04 22:26] everitt-andrew opened #205 "Group randomization can result in response overlap"
# Description of the Issue
While working on the testing for `group_rrobin`, Lancaster and I found a potential bug within the `test_rrobin_responses` method where groups could be "unbalanced" based on their responses.

## Add Detailed Comment with More Information
In order to better understand the way that the program grouped members of the class, we changed some example responses in `test_group_me

[2019-03-04 22:27] reibelj commented on #204
As of now, I beleive we are going to use JSON rather than a csv file. To fix this issue, I am going to remove the calls of the default csv file.

[2019-03-04 22:41] everitt-andrew commented on #205
@Lancasterwu also mentioned that we might want to look at the impact that the number of Booleans has on the randomization of groups. Currently there are three Booleans in the test cases and four Boolean values in the student input CSV file.

[2019-03-04 22:46] ALEXANDERB82 opened #206 "Refactoring group_scoring.py and Associated Functions"
# Description of the Issue
The file group_scoring.py has functions in it that are named in a very confusing way. Also the docstrings that are present do not describe exactly what the function are doing. group_scoring.py needs to be refactored.

## Add Detailed Comment with More Information
The name of the function score_groups found withing group_scoring.py implies that the function is scoring mul

[2019-03-04 22:52] ALEXANDERB82 commented on #206
This issue has been addressed in the branch; [ enhance/debug-improve-group_scoring](https://github.com/GatorEducator/gatorgrouper/tree/enhance/debug-improve-group_scoring).

[2019-03-04 22:59] everitt-andrew commented on #205
I am aware that we will be using a JSON file instead of CSV, but the issue still stands.

[2019-03-05 00:00] baldeosinghm commented on #202
Currently working on the return statements for `parse_arguments` and future test cases for it.

[2019-03-05 00:26] huangs1 opened #209 "Failing Pytest after changing No File Found Exception Handling"
# Description of the Issue
The original No File Found Exception Handling in the `read_students_file.py` does not actually catch the exception. It does not actually raise an error when the function isn't reading in a file. So, I attempted to do it using a try-except block (this is all in the `enhance/FileNotFoundException` branch). Everything works normally when I run the program but when I run `py

[2019-03-05 14:19] paladp commented on #209
Just tried this and all tests pass for me. I used:

` pipenv run python3 gatorgrouper/utils/gatorgrouper.py --students-file students.csv `

Instead of the command provided, since I believe we don't have to pass the name of the file in quotes. I ran the test command as given and had all tests pass. Perhaps there is a problem with your CSV file?

[2019-03-05 14:39] Lancasterwu commented on #209
Hi @paladp, the problem was that the exception handling for no_input_csv file does not work, which means if you try to run the program without an input csv file, it does not return any error message. If you change the exception handling part to make it recognize IOError, or added a try except block, many test cases will fail. Where you trying to run the `enhance/FileNotFoundException` branch?

[2019-03-05 14:40] huangs1 commented on #209
The command you are running is just used to run the program itself--this does not run any of the test files. I was saying that when I run `pytest` there were tests, which were originally not failing, were failing.

[2019-03-05 16:13] baldeosinghm commented on #113
Fixed this issue with pull request  73ee8bef528f9ff358effea473f268e81e0b3968

[2019-03-05 16:25] Michionlion commented on #209
The reason the tests fail is that they expect the `read_student_file` method to always succeed, even when a file does not exist. If you are always required to provide a `csv` file, then your tests must be changed to automatically create one (use a fixture, like tmpdir or tmpfile, with some initialization). They should ***not*** depend on an outside file -- all testing content should be contained w

[2019-03-05 16:51] Lancasterwu commented on #209
Hi @Michionlion ,all tests pass when there is no input csv file in the repository, so I don't think `pytest fixture` are required for all test cases except `test_read_student_file`. The problem is probably due to that the functions can not recognize importing csv inside the `try except` block, but it does not make sense because the program still runs correctly.

[2019-03-05 17:56] #200 closed

[2019-03-05 19:08] baldeosinghm commented on #202
I removed the exit statements and changed them to return statements for better efficiency.  Code coverage for `parse_arguments.py` is now at 100%.

[2019-03-05 19:13] reibelj commented on #202
Thanks for your contribution! @baldeosinghm

[2019-03-05 19:28] Lancasterwu commented on #209
I have talked with @Michionlion, the problem here is because of the fact that all test cases besides `read_students_file` are using the error message returned by exception handling, which they should not because there are no input csv files.

[2019-03-05 19:45] reibelj commented on #194
@baldeosinghm will handle this. He and I discussed the implementation of the if statement and developed a new statement that will properly be handled by the tests. `if numgrp <= 1 or numgrp > students_list_length`

[2019-03-05 19:58] everitt-andrew commented on #205
@shafferz Could you link to the CSV file/table that is currently being used?

[2019-03-05 20:03] #197 closed

[2019-03-05 20:31] reibelj opened #215 "Refactor test cases to handle a generated csv file"
# Description of the Issue

## Add Detailed Comment with More Information
Based on [Issue#209](https://github.com/GatorEducator/gatorgrouper/issues/209)
All test cases are currently passing, however, this is because the return value of "filenotfound"
This value is set to return true which allows all test cases to pass regardless of if a csv file exsists.

To fix this, we are going to utilize a fix

[2019-03-05 20:32] reibelj commented on #215
I created the branch refactor/all_test for us to work out of.

[2019-03-05 20:38] ALEXANDERB82 opened #217 "Increasing Generality to Decrease the Number of Dependent Modules for group_scoring.py"
# Description of the Issue
All of the different group creation algorithms are dependent on group_scoring.py but are all located within different files. The code needs to be refactored and re designed so that there is more generality overall.

## Add Detailed Comment with More Information
Currently all of the group creation algorithms are located in various different files, however they should all

[2019-03-05 20:39] ALEXANDERB82 commented on #217
This issue is being addressed in the branch; [refactor/improve-generality-group-creation](https://github.com/GatorEducator/gatorgrouper/tree/refactor/improve-generality-group-creation).

[2019-03-05 20:59] shafferz commented on #201
This is most likely due to the file format being in `.svg`. Perhaps converting the file using [an online converter](https://svgtopng.com/) would fix it?

I'll test it, and put up a pull request if I can resolve the issue.

[2019-03-05 21:11] leonardoz15 commented on #201
Hi @shafferz , there is currently a branch [i-firefox-logo-bug](https://github.com/GatorEducator/gatorgrouper/tree/i-firefox-logo-bug) that @quigley-c was using to resize the logo, but I'm not sure if it was working or not.

[2019-03-05 21:17] wattob commented on #215
@Lancasterwu Have you already made changes for this issue in the branch `refactor/read_student_file`?

[2019-03-06 18:35] #128 closed

[2019-03-06 18:50] ilikerustoo commented on #184
@thomad74 I have not. I apologize. I have been busy but I will look into this again soon.

[2019-03-06 18:58] szklenskij commented on #163
Should we close this issue if we've decided it is no longer going to be worked on?

[2019-03-06 19:58] thomad74 commented on #184
@ilikerustoo No problem, I was just wondering!

[2019-03-06 20:22] reibelj commented on #215
Based on my discussion with @Lancasterwu not all test cases are in need of refactoring. We are going to focus on refactoring test_arguments.py  as  parse_arguments.py is the only file that requires the use of the csv generator.

The refactoring of test_arugments is being handled by @baldeosinghm  and @Lancasterwu

[2019-03-06 20:24] reibelj commented on #204
This is being handled by the csv generator we created in #215

[2019-03-06 20:25] #204 closed

[2019-03-06 20:30] #148 closed

[2019-03-06 20:49] #138 closed

[2019-03-06 20:54] #201 closed

[2019-03-07 20:58] aubreypc opened #234 "Improve generality of read_students_file"
# Description of the Issue

Reading student data from a CSV file occurs in both the Django app and the command-line app, but the existing read_students_file function only applies to the command-line context.

## Add Detailed Comment with More Information

1. Currently the function takes a file path string as an argument, but in our Django app we have a case in which we need to pass in a file-like

[2019-03-07 22:03] aubreypc commented on #190
Before #229 can be merged, it needs test cases -- @finneyj2 has offered to work on these.

[2019-03-08 00:18] Alex-Yarkosky commented on #102
This was fixed in pull request #153

[2019-03-08 00:18] #102 closed

[2019-03-08 01:47] #139 closed

[2019-03-08 01:47] #162 closed

[2019-03-08 01:54] #188 closed

[2019-03-08 01:54] #202 closed

[2019-03-08 01:54] #209 closed

[2019-03-08 01:54] #215 closed

[2019-03-08 02:14] ElisiaW opened #235 "Survey Functionality"
# Description of the Issue
Currently, the questions in survey section of the web application can only be determined by the programmers, not by users. This means that educators cannot configure the survey to match their needs.

## Add Detailed Comment with More Information

1. The survey.html file currently contains sections for five questions and placeholders where individuals can input a text res

[2019-03-08 02:48] Alex-Yarkosky commented on #163
Due to the lack of benefits we would gain from using JSON instead of CSV and the time constraint with the deadline of the Ides of March, the issue has been given the `wont-fix` label and will therefore not be worked on in the near future.

[2019-03-08 02:48] #163 closed

[2019-03-08 02:51] Alex-Yarkosky commented on #108
@quigley-c was this issue fully closed in a pull request? If so, please leave a comment that includes what pull request it was fixed with and then close this issue. If not, please move this from the `Done` category in the project board and let us know what the status of this issue is and work can be expected to be done it before the Ides of March. Thanks!

[2019-03-08 02:58] baldeosinghm commented on #194
This issue was handled by PR #226

[2019-03-08 02:58] #194 closed

[2019-03-08 03:00] baldeosinghm commented on #184
This issue was handled by PR #226

[2019-03-08 03:00] baldeosinghm commented on #184
This issue was handled by PR #226

[2019-03-08 03:00] #184 closed

[2019-03-08 03:03] Alex-Yarkosky commented on #118
@barrezuetai what is the status of the work on this issue? Please update it in the project board to either `In progress` or `Done` if those categories are applicable.

[2019-03-08 03:09] finneyj2 commented on #118
@Alex-Yarkosky I talked to @barrezuetai  and it hasn't been worked on, hence why I picked it up.

[2019-03-08 03:11] Alex-Yarkosky commented on #129
@aubreypc should this issue be considered `Done` and closed? Or do you see progress taking place related to it?

[2019-03-08 03:30] #129 closed

[2019-03-08 05:14] Lancasterwu commented on #234
Hi @finneyj2, have you make any progress on this? If not, I will do it since in order to implement `group_graph.py` to `gatorgrouper_cli.py, I need to change the way `read_students_file.py` generates the `responses` anyway.

[2019-03-08 18:10] aubreypc commented on #235
Hi @ElisiaW, thanks for opening this issue! I agree that some kind of survey functionality should be implemented before we ship. I'm a little uncertain about whether there's enough time to implement customizable surveys, mostly because it seems like it would require a more interactive JavaScript UI rather than static forms rendered by Django.

In the `feature/survey` branch I have started working

[2019-03-08 20:15] #190 closed

[2019-03-08 20:36] Lancasterwu opened #238 "implement genetic algorithm"
# Description of the Issue

## Add Detailed Comment with More Information

implement the genetic algorithm grouping method.
Here is the introduction of this algorithm on [Wikipedia](https://en.wikipedia.org/wiki/Genetic_algorithm)

## Steps to Reproduce Issue

Since this is a new feature, so there is no steps to reproduce this issue.
However, this file should be in `gatorgrouper/utils/` with test

[2019-03-08 20:53] aubreypc commented on #238
It looks like there is a genetic algorithm for grouping in @yeeunmariakim's fork: https://github.com/yeeunmariakim/gatorgrouper/blob/master/genetic_algorithm.py
This might be a good starting point for this feature?

[2019-03-08 21:05] Lancasterwu commented on #238
Yes, I have emailed her and received reply that we can start based on that file. However, we still need to follow MIT license.

[2019-03-08 21:47] enpuyou commented on #238
Hey, you guys might want to check out this link. http://www.otletinstitute.org/wikics/Grouping_Genetic_Algorithms.html. It has a description of grouping genetic algorithm(GGA) that is an example of applying GA on grouping problems. I feel this will suit our project better

[2019-03-09 04:44] Lancasterwu opened #241 "Test Case, Documentation, Refactoring for `group_graph.py`"
# Description of the Issue

## Add Detailed Comment with More Information

Follows after [PR240](https://github.com/GatorEducator/gatorgrouper/pull/240)
The documentation and test case for `group_graph.py` need to be added.
The grouping function itself also need to be refactored.

Ex: `--graph` does not support `--group-size`, you can only and you have to use it with `--num-group`.

Ex2: In order

[2019-03-09 18:29] #120 closed

[2019-03-09 22:51] Lancasterwu commented on #241
Update: Ex2 has been fixed in https://github.com/GatorEducator/gatorgrouper/pull/240

[2019-03-10 01:09] ElisiaW opened #242 "Survey Submit Button"
# Description of the Issue
Currently, the submit button located in the survey.html file does not actually send the data to a database and instead does nothing.

## Add Detailed Comment with More Information
In order to save the information that is being submitted, it needs to be stored in a database so that it can be accessed for grouping students. As of now, there is no database that has been cre

[2019-03-10 16:04] aubreypc commented on #242
Hi @ElisiaW & @finneyj2, thanks for opening this issue and looking into the survey functionality!

I wanted to give you an update on the current progress in the feature/survey branch, and give some suggestions for how to implement this.

I have been working on a stripped-down version of the survey feature, where the survey just allows students to mark other students as preferred. My rationale was

[2019-03-10 17:57] #234 closed

[2019-03-10 22:05] Lancasterwu commented on #241
The branch is `test/group-graph`

[2019-03-11 14:30] aubreypc commented on #235
Closing issue -- duplicate of #242

[2019-03-11 14:30] #235 closed

[2019-03-11 14:30] #147 closed

[2019-03-11 14:31] #135 closed

[2019-03-11 14:36] aubreypc opened #245 "Create a plan for deploying the web application"
# Description of the Issue

In order for our web application to be publicly available, we will need to figure out a way to deploy it.

## Add Detailed Comment with More Information
- Choose a hosting provider
- [Configure Travis for deployment](https://docs.travis-ci.com/user/deployment/)
- Deploy our web app

[2019-03-11 14:38] #160 closed

[2019-03-11 14:40] #116 closed

[2019-03-11 15:04] huangs1 commented on #112
This should not have been closed since we still need to create more hypothesis tests to be more confident in the robustness for more functions. My team is currently working on creating more test cases using hypothesis, there should be a PR that will fix this issue soon.

[2019-03-11 17:11] quigley-c commented on #111
Would it be beneficial to ask students to rate their experience as well as providing a more detailed explanation of their experience? Potentially also providing a "request supervisor review" option to alert instructors of extenuating circumstances.

[2019-03-11 17:47] aubreypc opened #247 "Implement group_graph parameters in command line interface"
# Description of the Issue

The command line interface for gatorgrouper should allow the user to pass in the following parameters to  `group_graph`:

- preferences (as a CSV file)
- preferences_weight
- preferences_weight_match
- objective_weights
- objective_measures

[2019-03-11 18:02] Lancasterwu commented on #247
Couldn't we assume that users have all of these in the input CSV file already?

[2019-03-11 18:21] aubreypc commented on #247
@Lancasterwu
As of right now we can't use a single input CSV for this functionality because there is no system in place to distinguish between student skills and preferences in the file.

However, we could possibly implement objective weights and objective measures as headers in the student data CSV.

[2019-03-12 15:34] sutterj commented on #245
This is the route that I would take: [Django App on AWS Elastic Beanstalk](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-django.html)

[2019-03-12 18:39] corlettim commented on #245
Billy, Alex and I will figure this out in today's lab session

[2019-03-12 18:46] ursowilliam commented on #245
Yup we are on it

[2019-03-12 19:00] ohnoanarrow opened #250 "Add Documentation to Various Files"
# Description of the Issue
There are multiple files in this repository with a docstring at the top describing the code as undocumented, such as admin.py and apps.py in the gatorgrouper folder. All of these files need to be found and given appropriate documentation.

[2019-03-12 19:39] Lancasterwu commented on #247
Ok, seems not hard to do. I'll be able to take care of it.

[2019-03-12 19:41] alexheinle opened #251 "Write documentation for manual deploys"
# Description of the Issue

## Add Detailed Comment with More Information

[2019-03-12 19:44] corlettim commented on #251
Working on it as we speak

[2019-03-12 19:56] Alex-Yarkosky commented on #119
@aubreypc used HIB in the graph implementation, pull request #229, and this should be adopted as the standard instead of LIB throughout the entire project.

[2019-03-12 20:15] ursowilliam commented on #245
being worked on in the deploying-web-app branch

[2019-03-12 20:19] paladp opened #253 "Cut Group Size Parameter"
# Description of the Issue
Given the priorities of the software project, cutting the group size parameter would help us ship
a minimally viable product.

## Add Detailed Comment with More Information
GatorGrouper currently accepts the number of groups or the size of groups as arguments for
group creation. This is more convenient for the user, but given our current circumstance is not
necessary. Cu

[2019-03-12 20:51] Lancasterwu opened #255 "Provide Interface of All Group Algorithm for CLI"
I would suggest adding a single interface method to this module that takes two string constants from `constants.py` (one for grouping method and the other for whether to use the given number for group size or group number) and then calls the correct grouping function based on those arguments. This will make all API and testing calls the same function, enabling better, easier to read code.

_Origin

[2019-03-12 20:52] Lancasterwu commented on #255
Can only be done after https://github.com/GatorEducator/gatorgrouper/issues/253

[2019-03-12 21:17] #217 closed

[2019-03-12 23:02] #112 closed

[2019-03-12 23:51] sutterj commented on #245
@gkapfham @ursowilliam
(GitHub AWS Integration)[https://aws.amazon.com/blogs/devops/automatically-deploy-from-github-using-aws-codedeploy/]

[2019-03-13 21:28] #161 closed

[2019-03-13 22:39] baldeosinghm opened #263 "Exception Handling for Wrong Measure in Kernighan-Lin Algorithm"
# Description of the Issue
The compatibility method needs to raise an exception for wrong measures off the `objective_measure` list.

## Add Detailed Comment with More Information
The file `group_graph.py` has a method for checking the compatibility between students based on their objective weights and objective measures.  The function `measure` is used to check for what compatibility measure to u

[2019-03-14 01:16] baldeosinghm commented on #263
@yeej2 has solved this issue.

[2019-03-14 06:25] Lancasterwu opened #265 "No Exception Handling for Reading a Single Line CSV"
# Description of the Issue

## Add Detailed Comment with More Information

Due to we used function `has_header` from `csv` package. If the input CSV file for `read_student_file.py` is a single line CSV file, `has_header` will crash since there is no comparison and the function cannot recognize if there is a header or not. An exception handling supposes to work when the user imports a CSV file that

[2019-03-14 15:14] Lancasterwu opened #266 "Without `--num-group`, Using `--graph` Would Run Wrong Method `group_random`"
@Michionlion It was there already, we didn't refactor it since it only uses `numgroup`.
[code]
However, there was a bug that if we don't use `--num-group` with `--graph` and only use `--graph` the program will run `group_random`.  We can fix that bug with a different PR or just in [PR#261](https://github.com/GatorEducator/gatorgrouper/pull/261).

_Originally posted by @Lancasterwu in https://githu

[2019-03-14 18:34] #253 closed

[2019-03-14 18:34] #266 closed

[2019-03-14 19:29] #241 closed

[2019-03-14 19:29] #247 closed

[2019-03-14 19:29] #263 closed

[2019-03-15 00:56] #255 closed

[2019-03-15 01:02] #242 closed

[2019-03-15 14:07] #206 closed

[2019-03-15 17:53] Alex-Yarkosky commented on #109
This issue will not be worked on in the near future @gkapfham

[2019-03-15 18:25] #145 closed

[2019-03-16 04:05] #250 closed

[2019-03-16 05:10] #245 closed

[2019-03-16 05:12] Michionlion opened #280 "Fix skipped valid form test in `test_form.py`"
## Fix skipped test

There is currently a skipped test on master that must be fixed. Below is some correspondence that occurred on PR #279 about this issue. It is related to `test_forms.py`.

#### Comment by @Michionlion on #279:

#### Comment by @sutterj on #279:

#### Comment by @Michionlion on #279:

#### Comment by @enpuyou on #279:

### Assigned Developers
@enpuyou

[2019-03-16 05:19] sutterj opened #282 "Find Most Secure Workable Django Verison"
# Description of the Issue

There are some security issues with the older version on Django

## Add Detailed Comment with More Information

With the older version of Django that we ended up using in order to be able to deploy, there are some security issues that present potential concern.  It may be possible to upgrade to a slightly higher version of Django before the sqlite requirements changed.

[2019-03-16 07:12] #280 closed

[2019-03-16 07:18] #282 closed

[2019-03-16 23:45] barrezuetai opened #285 "Allow User to change password if forgot their password"
# Description of the Issue
In case a user forgets their password, there is no way right now for them to log into that profile. They would just have to create a new user and input all of their information again.
There should be a way for user's to change their password in the event they forgot their password.

## Add Detailed Comment with More Information
I think that in order to do this, one must

[2019-03-16 23:48] barrezuetai opened #286 "Allow users to edit/delete a student/class/assignment"
# Description of the Issue
The way things are currently set up, users can only create students/classes/assignments. In the event they made a mistake when creating any of these things, they must be able to make changes to the items in their profile.

[2019-03-16 23:56] barrezuetai opened #287 "Allow Users to submit more than one student at a time"
# Description of the Issue
With the current add student page, the user can only add one student at a time. There should be a way to add more than one student at a time 1) in order to reduce the number of times one is trying to access the db, and 2) to make it easier for a user to add students.

This can be done by using a CSV file with student names, or by providing the user with more than one stu

[2019-03-17 20:19] barrezuetai opened #288 "Groups should have their own page"
# Description of the Issue
Right now, the links under each assignment name send the user to a page where they can view any group by choosing its name. It would be cooler if instead, the link can take the user to a page that shows only the details of groups for that assignment.

[2019-03-20 20:05] #288 closed

[2019-03-22 19:32] #107 closed

[2019-03-25 04:50] shafferz opened #290 "Allow User to Specify Conflict Relations when Creating Teams"
# Description of the Issue

Currently, conflict avoidance is supported with the `group_random` grouping algorithm. What is not currently supported is the actual input on the website of GatorGrouper to use this function of the random grouping algorithm. What is needed is a simple way for the user to enter two names and a number (integer) that represents the severity of the conflict. I suggest using

[2019-05-05 02:23] quigley-c opened #292 "No Input File Format Documented"
# Description of the Issue

Currently there is no documentation for what the input file should look like, that I can see.

## Add Detailed Comment with More Information

When attempting to run the tool it is important for the users to know what the input file formatting should look like. A sample input file or documentation describing what the input file should look like is needed to this extent.

[2019-05-05 02:43] aubreypc commented on #292
I'll write an explanation -- PR coming soon!

[2019-06-10 21:42] #292 closed

[2019-08-15 15:49] wmodes opened #294 "Update documentation: objective-weights and objective-measures ignores first column"
Currently, the documentation doesn't mention how the first column of the data.csv file is handled with regard to objective-weights and objective-measures.

After some experimentation, I concluded that the first objective-weight and first objective-measure in the list apply to the second column.  If true, please reflect that in the documentation. Thank you.

It would also be useful to see an exampl

[2019-08-15 15:55] wmodes opened #295 "Update documentation: Default objective-weights and negative weights"
The current documentation says

```By supplying weights via the --objective-weights flag, the user can control the relative importance of each column in the data.```

However, there is no mention what the default weights are. If you are only setting a single column, what scale should I use to match the default weights? 0 to 1? 0-5? 0-10? 0-100?

Having this explicit would be helpful.

Also, are ne

[2019-08-15 16:23] wmodes opened #296 "Feature Request: members-in-groups"
Currently, the ``num-group`` parameter allows you to specify how many groups. This is often less useful than being able to specify how many members are optimally in each group.

This also begs the question of how to handle uneven distribution: Would it be better to create a few smaller groups, or to create a few larger groups?  This can be handled with a boolean, i.e., ``--bigger-groups true`` or

[2019-08-15 16:37] wmodes opened #297 "Feature request: Unbalanced partitioning, allowing non-power of 2 splits"
Currently using the Kernighan-Lin Grouping Method, only power of 2 group splits are supported. This is impractical for some course sizes if the goal is to create groups of a certain size. For instance, in a course size of 50, 8 groups results in very large groups of 6 members, but 16 groups results in small groups of 3.

I don't know the algorithm very well, but some hasty research revealed simila

[2019-09-29 22:11] wmodes commented on #295
Partial answer: Yes, negative weights are possible. In fact, I use an ``--objective-weights -10`` with ``--objective-method diff`` to specify a homogeneous grouping of relative value 10.

However, this still needs to be documented.

[2021-02-14 22:11] wmodes commented on #295
Checking in. I see the issue is assigned, but not responded.

[2021-02-14 22:12] wmodes commented on #296
Checking in. I see the issue is assigned, but not responded.

[2021-02-14 22:12] wmodes commented on #294
Checking in. I see the issue is assigned, but not responded.

[2021-02-14 22:15] wmodes commented on #297
Checking in. I see the issue is assigned, but not responded.

Alternately, dummy group can be created that balance out Kernighan-Lin's partitioning method and then discarded when output is created.  That is, if you have 50 members, and want groups of about 4, 4 dummy groups can be created to make 16 groups and the 4 dummy groups with no members can be discarded.

[2021-02-14 22:20] wmodes opened #298 "Feature request: csv output"
Currently, the output of gatorgrouper is:

[code]

It would be extremely helpful for importing the output into several LMSs if Gatorgrouper had an option to output as csv. Something like:

[code]

[2021-02-18 17:50] Michionlion commented on #297
Unfortunately, this repository does not have a current maintainer -- I think the parties involved (@gkapfham, @huangs1, @barrezuetai, and others) would be willing to answer questions about implementations, but probably don't have the bandwidth to make any changes at this time.